{#
Ici on mmet tous les template des formulaires standard.
Ca concerne principalement les formulaires généré dans les modales.
Les forms des memebres sont traités par les templates xeditables
#}

{# todo CMR form NUR la class "grid middle aligned" change la geule de tout les formualire...est-ce nécaissaire?#}
{% block form_row %}
    <div class="ui grid middle aligned field">
        <div class="six wide column">{{ form_label(form) }} :</div>
        <div class="ten wide column">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock form_row %}


{# simple widget #}
{% block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple %}


{# choice widget #}
{% block choice_widget -%}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple %}
        {% set required = false %}
    {% endif %}

    {% if not multiple %}

        <select class="ui fluid search dropdown" {{ block('widget_attributes') }}>
            {% if empty_value is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {%- endif %}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {% if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif %}
            {%- endif -%}
            {% set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>

    {%  else  %}

        <select multiple {{ block('widget_attributes') }} class="ui dropdown">
            {% if empty_value is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {%- endif %}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {% if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif %}
            {%- endif -%}
            {% set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>

    {% endif %}

{%- endblock choice_widget %}



{# label #}
{% block form_label -%}
    {% if label is not same as(false) %}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {%- if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {%- if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {%- endif %}
{%- endblock form_label %}

{# textarea #}
{% block textarea_widget -%}
    <textarea {{ block('widget_attributes') }}>{% if value is not empty %}{{ value }}{% endif %}</textarea>
{%- endblock textarea_widget %}

{# checkbox #}
{% block checkbox_widget -%}
    <div class="ui checkbox">
        <input {{ block('widget_attributes') }} {% if value is defined %} value="{{value}}" {% endif %} {% if checked %} checked="checked" {% endif %} type="checkbox">
        {{ block('form_label') }}
    </div>
{%- endblock checkbox_widget %}

{# hidden #}
{% block hidden_widget -%}
    <input type="hidden" {{ block('widget_attributes') }} value="{% if value is not empty %}{{ value }}{% endif %}" />
{%- endblock hidden_widget %}

