{#

 Ce template est utile pour les formulaire de recherche monstrueux.
 Il permet de mettre champ sous forme de accordion ce qui réduit considérablement
 la taille visuelle du formulaire. (uffer)

 il est aussi adapté a certain type de champ du genre DateInterval ou NumericInterval

#}

{% block form_widget %}
    {% spaceless %}
        {% if compound %}
            {{ block('form_widget_compound') }}
        {% else %}
            {{ block('form_widget_simple') }}
        {% endif %}
    {% endspaceless %}
{% endblock form_widget %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} placeholder="{{ label }}"/>
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block textarea_widget %}
    {% spaceless %}
        <div class="field">
            <label>{{ label }}</label>
            <textarea {{ block('widget_attributes') }} placeholder="{{ label }}">{{ value }}</textarea>
        </div>
    {% endspaceless %}
{% endblock textarea_widget %}


{% block datepicker_widget -%}

        <input type="date" class="datepicker" {{ block('widget_attributes') }} value="{{ value }}" placeholder="{{ label }}"/>

{%- endblock datepicker_widget %}


{# SINGLE ROW #}
{% block form_row -%}

    <div class="ui accordion">
    <div class="title">
        <i class="dropdown icon"></i>
        {{- form_label(form) -}}
    </div>

    <div class="content">
        <div class="field">
            {{- form_widget(form) -}} {# Recursive call #}
            {{- form_errors(form) -}}
        </div>
    </div>
    </div>
{%- endblock form_row %}


{% block AppBundle_numeric_interval_search_widget %}
    <table>
        <tr>
            <td>{{ form_widget(form.lower) }}</td>
            <td>{{ form_widget(form.higher) }}</td>
        </tr>
    </table>
{% endblock AppBundle_numeric_interval_search_widget %}

{% block AppBundle_date_interval_search_widget %}
    <table>
        <tr>
            <td>{{ form_label(form.lower) }}</td>
            <td>{{ form_widget(form.lower) }}</td>
            <td>{{ form_label(form.higher) }}</td>
            <td>{{ form_widget(form.higher) }}</td>
        </tr>
    </table>
{% endblock AppBundle_date_interval_search_widget %}
