{# semantic widget - un select avec un search #}
{# TODO GHT from CMR : pls expliquer la plus-value par rapport a juste mettre 'search' dans la class du select #}

{% block semantic_widget -%}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple %}
        {% set required = false %}
    {% endif %}

    <div class="field">
        {{ block('form_label') }}
        <select class="ui search dropdown" {{ block('widget_attributes') }}>
            {% if empty_value is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {%- endif %}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {% if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif %}
            {%- endif -%}
            {% set options = choices -%}
            <option value="0" selected="selected">Choisir...</option>
            {{- block('choice_widget_options') -}}
        </select>
    </div>
{%- endblock semantic_widget %}