{#
    Feuille de theme des formulaires qui affichent les widgets x-editable
    pour édition rapide en ajax
#}

{#
    On définit un block dont le but est de déterminer la valeur du type à fournir à xEditable.
    Pour se faire on regarde le type de champ (entity, text, datepicker...) et on le convertit entre un des 5 champs
    disponible dans x-editable
#}
{% block xtype %}

    {% set TEXTS    = ['text', 'email', 'integer', 'money', 'number', 'password', 'percent', 'search', 'url'] %}
    {% set TEXTAREA = ['textarea'] %}
    {% set CHOICES  = ['choice', 'entity', 'country', 'language', 'locale', 'timezone', 'currency', 'semantic', 'genre', 'boolean'] %}
    {% set DATES    = ['date', 'datetime', 'time', 'birthday', 'datepicker'] %}

    {% set prefixes     = form.vars['block_prefixes'] %}
    {% set attr         = prefixes[ prefixes|length - 2 ] %}

    {# definition des types xEditable #}
    {% set types        = ['text', 'textarea', 'select', 'date', 'checklist'] %}

    {#
        On définit ensuite le type par rapport à l'un des tableau au dessus. Si le type n'y est pas, on affiche de la
        merde et on fait un dump pour bien le montrer tu vois comment
    #}
    {% if attr in TEXTS %}
        data-type="text"

    {% elseif attr in TEXTAREA %}
        data-type="textarea"

    {% elseif attr in CHOICES %}
        data-type="select"
        data-source="{{ form.vars['choices']|choiceToXeditable }}"

    {% elseif attr in DATES %}
        data-type="date"

    {% else %}

    {% endif %}

{% endblock %}

{#
    On génère ensuite le block x-editable qui contient toutes les informations utiles à son utilisation
    Ce bloc génère les attributs qui iront se greffer sur le A. On a ainsi un système d'affichage des données
    extrêmement génériques
#}
{% block xeditable %}

    {# On a besoin du prefix pour savoir quoi faire au niveau du backend #}
    {% set prefixes     = form.vars['block_prefixes'] %}
    {% set attr         = prefixes[ prefixes|length - 2 ] %}

    {# On récupère l'entité liée au formulaire #}
    {% set object = form.parent.vars['value'] %}

    data-pk="{{ object.id }}"
    data-url="{{ path('interne_ajax_app_modify_property') }}"
    data-name="{{ attr ~ "___" ~ class(object) ~ "___" ~ form.vars['name'] }}" {# le name contient le nom du champ a modifier ainsi que le type de ce champ #}
    data-value="{{ value }}"

    {# type et éventuelles données supplémentaires requises liées à ce type, comme pour choice, on génère le data-source #}
    {{ block('xtype') }}
{% endblock %}

{#
    Pour themer un champ, il faut appeler form_row qui met en place le bon mark-up
    du champ. le widget (ensemble label et input) est compris dans une DIV de classe spécifique
    On déclare ensuite un B pour le nom du champ, et un A pour l'affichage de la donnée. le A
    possède également tous les attributs x-editable
#}


{% block form_row %}
    <div class="ui grid">
        <div class="six wide column"><b>{{ form_label(form) }} :</b></div>
        <div class="ten wide column">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock form_row %}


{#
    Widget simple, input text basique
    Ce bloc sert de structure globale d'affichage des données dans le A
 #}
{% block form_widget %}
    <a href="#" class="xeditable" {{ block('xeditable') }} >{{ value }}</a>
{% endblock %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="ui error message">
                <div class="header">Error</div>
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{#
    On définit ici tous les widgets comme utilisant form_widget standard, je sais pas pourquoi ca marche
    pas par défaut
#}
{% block datepicker_widget %}
    {{ block('form_widget') }}
{% endblock %}

{% block form_widget_simple %}
    {{ block('form_widget') }}
{% endblock %}

{% block textarea_widget %}
    {{ block('form_widget') }}
{% endblock %}

{% block choice_widget %}
    {{ block('form_widget') }}
{% endblock %}

{% block checkbox_widget %}
    {{ block('form_widget') }}
{% endblock %}

{# remarque_accordion #}
{% block remarque_accordion_widget -%}
    <div class="ui accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            {{ block('form_label') }}
        </div>
        <div class="content">
            <div class="field">
                <div class="ui form">
                    <div class="field">
                        <textarea {{ block('widget_attributes') }}>
                            {{ value }}
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endblock remarque_accordion_widget %}


{# date #}
{#
{% block date_widget -%}
    <div class="field">
         {{ block('form_label') }}
        <input type="text" class="datepicker" {{ block('widget_attributes') }} value="{{ value }}"/>
    </div>
{%- endblock date_widget %}#}
