<div class="data-list" data-name="{{ list.name }}" data-url="{{ list.url }}">

    {% if list.hasToolbar %}
        <div class="data-liste-toolbar">

            {% if list.hasSearchBar %}
                <div class="ui mini icon input">
                    <input class="data-liste-search" type="text" placeholder="Rechercher...">
                    <i class="search icon"></i>
                </div>
            {% endif %}

        </div>
    {% endif %}

    <table class="ui table{% if list.datatable %} datatable{% endif %} {{ list.style }}">

        <thead>
        <tr>
            {% for column in list.columns %}
                <th>
                    {{ column.name }}
                </th>
            {% endfor %}

            {% if list.actionsLine|length != 0 %}
                <th>
                    Actions
                </th>
            {% endif %}

        </tr>
        </thead>
        <tbody>
        {% for item in list.items %}
            <tr data-id="{{ list.getRowId(item) }}">
                {% for column in list.columns %}
                    <td>
                        {% if column.twigFilters is null %}
                            {{ column.render(item)|raw }}
                        {% else %}
                            {% set value = column.render(item) %}
                            {{ value|apply_filters(column.twigFilters)|raw }}
                        {% endif %}
                    </td>
                {% endfor %}

                {% if list.actionsLine|length != 0 %}
                <td>
                    {% for action in list.actionsLine %}
                        {% if action.isInLine %}
                            <i class="{{ action.icon }} icon popupable event"
                               data-content="{{ action.label }}"
                               data-event-route="{{ action.route }}"
                               data-event-parameters="{{ action.routeParameters(item) }}"
                               data-event-postactions="{{ action.getPostActions }}"></i>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>


    {# List actions #}
    {% if list.actionsList|length != 0 %}

        {% for action in list.actionsList %}
            <button class="ui icon button event"
                    data-content="{{ action.label }}"
                    data-event-route="{{ action.route }}"
                    data-event-parameters="{{ action.routeParameters }}"
                    data-event-postactions="{{ action.getPostActions }}">
                <i class="{{ action.icon }} icon"></i>
                {{ action.label }}
            </button>
        {% endfor %}

    {% endif %}

    {% if list.actionsLine|length != 0 %}
        <div class="ui compact menu">
            <div class="ui simple dropdown item">
                <i class="list icon"></i>
                Actions
                <i class="dropdown icon"></i>

                <div class="menu">
                    {% for action in list.actionsLine %}
                        {% if action.isInMass %}
                            <div class="item event_mass">
                                <i class="{{ action.icon }} icon"
                                   data-content="{{ action.label }}"
                                   data-event-route="{{ action.route }}"
                                   data-event-postactions="{{ action.getPostActions }}"></i>
                                {{ action.label }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

</div>

