<div class="ui top attached message">
    <div class="header"><h5><i class="add icon"></i>Contact</h5></div>
</div>
<div class="ui bottom attached segment">
    <h5 class="ui dividing header">Adresse postale</h5>
    {{ form_row(form.adresse.expediable) }}
    <div class="ui grid">
        <div class="row">
            <div class="column">
                {{ form_widget(form.adresse.rue, {'attr':{'placeholder':form.adresse.rue.vars.label }}) }}
            </div>
        </div>
        <div class="row">
            <div class="five wide column">
                {{ form_widget(form.adresse.npa, {'attr':{'placeholder':form.adresse.npa.vars.label }}) }}
            </div>
            <div class="eleven wide column">
                {{ form_widget(form.adresse.localite, {'attr':{'placeholder':form.adresse.localite.vars.label }}) }}
            </div>
        </div>
        <div class="row">
            <div class="column">
                {{ form_widget(form.adresse.remarques, {'attr':{'placeholder':form.adresse.remarques.vars.label }}) }}
            </div>
        </div>
    </div>


    <h5 class="ui dividing header">Emails</h5>
    {{ form_row(form.emails) }}

    <h5 class="ui dividing header">Telephones</h5>
    {{ form_row(form.telephones) }}

</div>


