{% extends 'AppBundle:AddMembre:addFormLayout.html.twig' %}

{% block title %}
    Informations sur le membre et sa famille
{% endblock %}

{% block form %}

    {{ form_start(form,{'attr': {'class': 'ui form'}}) }}

    <div class="ui styled fluid accordion">
        <div class="title">Information essentiel sur le membre</div>
        <div class="content">
            {{ form_row(form.prenom) }}
            {{ form_row(form.naissance) }}
            {{ form_row(form.statut) }}
            {{ form_row(form.inscription) }}
            {{ form_row(form.sexe) }}
            {{ form_row(form.envoiFacture) }}
        </div>
        <div class="title">Information complémentaire sur le membre</div>
        <div class="content">
            {{ form_row(form.iban) }}
            {{ form_row(form.numeroAvs) }}
            {{ form_row(form.numeroBs) }}
            {{ form_row(form.remarques) }}
        </div>
        <div class="title">Information contact du membre</div>
        <div class="content">
            {% include 'AppBundle:AddMembre:AddContact.html.twig' with {'form': form.contact} %}
        </div>
        <div class="title">Information sur la famille</div>
        <div class="content">
            {{ form_row(form.famille.nom) }}
            {% include 'AppBundle:AddMembre:AddContact.html.twig' with {'form': form.famille.contact} %}
        </div>
        <div class="title">Information sur le pere</div>
        <div class="content">
            {{ form_row(form.famille.pere.prenom) }}
            {{ form_row(form.famille.pere.profession) }}
            {% include 'AppBundle:AddMembre:AddContact.html.twig' with {'form': form.famille.pere.contact} %}
        </div>
        <div class="title">Information sur la mere</div>
        <div class="content">
            {{ form_row(form.famille.mere.prenom) }}
            {{ form_row(form.famille.mere.profession) }}
            {% include 'AppBundle:AddMembre:AddContact.html.twig' with {'form': form.famille.mere.contact} %}
        </div>
    </div>




    {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}

{% block next_step %}Engregistrer{% endblock %}
