
<div class="ui vertical menu">

    <a class="item" href="{{path('interne_finances_creance_search')}}"><i class="search icon"></i>Recherche de créances</a>

    <a class="item" href="{{path('interne_finances_facture_search')}}"><i class="search icon"></i>Recherche de factures</a>


    <a class="item" href="{{path('interne_finances_payement_search')}}"><i class="search icon"></i>Recherche de payements</a>

    <a class="item" href="{{path('interne_finances_payement_add')}}"><i class="add icon"></i>Saisie de payements</a>

    <a class="item" href="{{path('interne_finances_payement_validation_list')}}"><i class="checkmark icon"></i>Validation de payements</a>

</div>