
<div class="ui divided list">

    {% for element in data %}

        {% set header = (type == 'telephone') ? form_widget(element.numero) : form_widget(element.email) %}

        <div class="item">
            <i class="{{ (type == 'telephone') ? 'call' : 'mail' }} icon"></i>
            <div class="content bs-content">

                <i class="right floated link red remove icon button-remove-{{ type }}" data-id="{{ element.vars['value'].id }}"></i>

                <div class="bs-editable header">{{ header|raw }}</div>
                <div class="bs-editable description">
                    {{ form_widget(element.remarques) }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>