{% import _self as self %}

{% set familleForm = membreForm.famille %}
{% set mereForm = membreForm.famille.mere %}
{% set pereForm = membreForm.famille.pere %}

{% set famille = membre.famille %}

{% set arrayOfContact = [{'type':'Membre','contact': membre, 'contactForm':membreForm }, {'type':'Famille','contact':famille,'contactForm':familleForm }] %}

{% if membre.famille.mere is not null %}
    {% set mere = membre.famille.mere %}
    {% set arrayOfContact = arrayOfContact|merge([{'type':'Mère','contact': mere, 'contactForm':mereForm}]) %}
{% endif %}

{% if membre.famille.pere is defined %}
    {% set pere = membre.famille.pere %}
    {% set arrayOfContact = arrayOfContact|merge([{'type':'Père','contact': pere, 'contactForm':pereForm}]) %}
{% endif %}



<div class="ui grid">



    {% for contact in arrayOfContact %}

        <div class="row">
            <div class="one wide column">

                {% set type = contact['type'] %}
                {% if type == 'Membre' %}
                    <i class="big user icon"></i>
                {% elseif type == 'Famille'%}
                    <i class="big home icon"></i>
                {% elseif type == 'Mère'%}
                    <i class="big female icon"></i>
                {% elseif type == 'Père'%}
                    <i class="big male icon"></i>
                {% endif %}


            </div>
            <div class="four wide column">

                <div class="ui segment">
                    <div class="ui right corner label"><i class="mail outline icon"></i></div>


                    {% include 'AppBundle:Adresse:adresse_ajax_edit_form.html.twig' with {'adresse':contact['contactForm'].contact.adresse } %}

                </div>



            </div>
            <div class="six wide column">

                <div class="ui segment">
                    <div class="ui right corner label"><i class="at icon"></i></div>

                    {% include 'AppBundle:Email:emails_ajax_edit_form.html.twig' with {'emails':contact['contactForm'].contact.emails } %}

                </div>
            </div>
            <div class="five wide column">

                <div class="ui segment">
                    <div class="ui right corner label"><i class="call icon"></i></div>

                    {% include 'AppBundle:Telephone:telephones_ajax_edit_form.html.twig' with {'telephones':contact['contactForm'].contact.telephones } %}

                </div>


            </div>
        </div>
    {% endfor %}



</div>


{#
<div class="ui celled grid">

    <div class="row">
        <div class="one wide column"></div>
        <div class="five wide column"><i class="mail outline icon"></i></div>
        <div class="five wide column">@</div>
        <div class="five wide column"><i class="call icon"></i></div>
    </div>

    {% for contact in arrayOfContact %}

        <div class="row">
            <div class="one wide column">
                <div style="height: 100px">
                    <div style="line-height: 100px;transform: rotate(-90deg);">
                        {{ contact['type'] }}
                    </div>
                </div>


            </div>
            <div class="five wide column">

                {% include 'AppBundle:Adresse:adresse_ajax_edit_form.html.twig' with {'adresse':contact['contactForm'].contact.adresse } %}

            </div>
            <div class="five wide column">

                {% include 'AppBundle:Email:emails_ajax_edit_form.html.twig' with {'emails':contact['contactForm'].contact.emails } %}

            </div>
            <div class="five wide column">

                {% include 'AppBundle:Telephone:telephones_ajax_edit_form.html.twig' with {'telephones':contact['contactForm'].contact.telephones } %}

            </div>
        </div>
    {% endfor %}



</div>
#}




<h3><i class="mail outline icon"></i> Envoi par courrier</h3>

<div class="ui steps" id="liste-adresses">

    <div class="step contact_adresse" id="adresse-membre">

        <div class="content">
            <div class="title">Adresse du membre</div>
            <div class="description" style="padding-top: 10px">

                <div style="min-height: 1.2em">{{ membre.nom|capitalize }} {{ membre.prenom|capitalize }}</div>


                {% include 'AppBundle:Adresse:adresse_ajax_edit_form.html.twig' with {'adresse':membreForm.contact.adresse } %}

                <div class="ui toggle checkbox" id="membre" style="margin: 5px">
                    <input type="checkbox">
                </div>




            </div>
        </div>
    </div>
    <div class="step contact_adresse" id="adresse-famille">
        <div class="content">
            <div class="title">Adresse familliale</div>
            <div class="description"  style="padding-top: 10px">

                <div style="min-height: 1.2em">Famille {{ membre.famille.nom|capitalize }}</div>


                {% include 'AppBundle:Adresse:adresse_ajax_edit_form.html.twig' with {'adresse':membreForm.famille.contact.adresse} %}


                <div class="ui toggle checkbox" id="famille" style="margin: 5px">
                    <input type="checkbox">
                </div>


            </div>
        </div>
    </div>
    <div class="step contact_adresse" id="adresse-mere" >
        <div class="content">
            <div class="title">Adresse de la mère</div>
            <div class="description" style="padding-top: 10px">

                <div style="min-height: 1.2em"></div>
                {% include 'AppBundle:Adresse:adresse_ajax_edit_form.html.twig' with {'adresse':membreForm.famille.mere.contact.adresse} %}


                <div class="ui toggle checkbox" id="mere" style="margin: 5px">
                    <input type="checkbox">
                </div>

            </div>
        </div>
    </div>
    <div class="step contact_adresse" id="adresse-pere">
        <div class="content">
            <div class="title">Adresse du père</div>
            <div class="description" style="padding-top: 10px">

                <div style="min-height: 1.2em"></div>
                {% include 'AppBundle:Adresse:adresse_ajax_edit_form.html.twig' with {'adresse':membreForm.famille.pere.contact.adresse} %}


                <div class="ui toggle checkbox" id="pere" style="margin: 5px">
                    <input type="checkbox">
                </div>


            </div>
        </div>
    </div>
</div>


<div class="ui four column grid" id="liste-emails">
    <div class="row">
    <div class="column contact_emails" id="emails-membre">

            <h4>@ Membre {{ self.add_email_button(membre ) }}</h4>


            {% include 'AppBundle:Email:emails_ajax_edit_form.html.twig' with {'emails':membreForm.contact.emails } %}


    </div>
    <div class="column contact_emails" id="emails-famille">

        <h4>@ Famille {{ self.add_email_button(membre.famille ) }}</h4>

        {% include 'AppBundle:Email:emails_ajax_edit_form.html.twig' with {'emails':membreForm.famille.contact.emails } %}






    </div>
    <div class="column contact_emails" id="emails-mere" >

            <h4>@ Mère {{ self.add_email_button(membre.famille.mere ) }}</h4>

        {% include 'AppBundle:Email:emails_ajax_edit_form.html.twig' with {'emails':membreForm.famille.mere.contact.emails } %}


    </div>
    <div class="column contact_emails" id="emails-pere">

        <h4>@ Père {{ self.add_email_button(membre.famille.pere) }}</h4>

        {% include 'AppBundle:Email:emails_ajax_edit_form.html.twig' with {'emails':membreForm.famille.pere.contact.emails } %}


    </div>
    </div>
</div>


<div class="ui four column grid" id="liste-telephones">

    <div class="column contact_emails" id="telephones-membre">

        <h4><i class="call icon"></i> Membre {{ self.add_telephone_button(membre ) }}</h4>


        {% include 'AppBundle:Telephone:telephones_ajax_edit_form.html.twig' with {'telephones':membreForm.contact.telephones } %}


    </div>
    <div class="column contact_emails" id="telephones-famille">

        <h4><i class="call icon"></i> Famille {{ self.add_telephone_button(membre.famille ) }}</h4>

        {% include 'AppBundle:Telephone:telephones_ajax_edit_form.html.twig' with {'telephones':membreForm.famille.contact.telephones } %}






    </div>
    <div class="column contact_emails" id="telephones-mere" >

        <h4><i class="call icon"></i> Mère {{ self.add_telephone_button(membre.famille.mere ) }}</h4>

        {% include 'AppBundle:Telephone:telephones_ajax_edit_form.html.twig' with {'telephones':membreForm.famille.mere.contact.telephones } %}


    </div>
    <div class="column contact_emails" id="telephones-pere">

        <h4><i class="call icon"></i> Père {{ self.add_telephone_button(membre.famille.pere ) }}</h4>

        {% include 'AppBundle:Telephone:telephones_ajax_edit_form.html.twig' with {'telephones':membreForm.famille.pere.contact.telephones } %}

    </div>
</div>

{% macro add_telephone_button(owner) %}
    {% if owner is not null %}
        {% set contact_id = owner.contact.id %}
        {% if contact_id is not null %}
            <i class="contact_add_telephone ui blue add square icon" data-id="{{ contact_id}}"></i>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro add_email_button(owner) %}
    {% if owner is not null %}
        {% set contact_id = owner.contact.id %}
        {% if contact_id is not null %}
            <i class="contact_add_email ui blue add square icon" data-id="{{ contact_id}}"></i>
        {% endif %}
    {% endif %}
{% endmacro %}