{% extends 'layout.html.twig' %}
{% import _self as macro %}

{% block titre %}Envois{% endblock %}

{% block content %}

<div class="ui page grid">
    <div class="row">
        <div class="column">

            <a class="ui button" target="_blank" href="{{ path('utils_envoi_print_pdf') }}">Obtenir le PDF</a>

            <a class="ui button" href="{{ path('utils_envoi_email') }}">Envoyer les mails (todo)</a>

            <a class="ui button" href="{{ path('utils_envoi_clear') }}">Effacer la liste</a>


            <table class="ui table">
                <thead>
                    <tr>
                        <th>Cible d'envoi</th>
                        <th>Description</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for envoi in listeEnvoi.envois %}

                    {% if envoi['envoi'].ownerClass == 'Membre' %}

                        {% set owner = envoi['owner'].nom|capitalize ~' '~envoi['owner'].prenom|capitalize %}

                    {% elseif envoi['envoi'].ownerClass == 'Famille'%}
                        {% set owner = 'Famille ' ~ envoi['owner'].nom|capitalize %}
                    {% else %}
                        Erreur de class
                    {% endif %}


                    {% set methodeEnvoi = envoi['owner'].adressePrincipale['adresse'].methodeEnvoi %}
                    {% set email = envoi['owner'].adressePrincipale['adresse'].email %}
                    {% set rue = envoi['owner'].adressePrincipale['adresse'].rue %}
                    {% set npa = envoi['owner'].adressePrincipale['adresse'].npa %}
                    {% set localite = envoi['owner'].adressePrincipale['adresse'].localite %}





                    <tr>
                        <td class="popupable" data-html="{{   macro.adresse(owner,methodeEnvoi,rue,npa,localite,email) }}">

                            {% if methodeEnvoi == 'Email' %}
                                @
                            {% elseif methodeEnvoi == 'Courrier' %}
                                <i class="mail outline icon"></i>
                            {% endif %}
                            <i class="angle double right icon"></i>
                            {{ owner }}






                        </td>
                        <td>{{ envoi['envoi'].description }}  </td>

                        <td>
                            <a href="{{ path('utils_envoi_remove_by_token',{ token:envoi['token'] }) }}"
                               class="popupable" data-content="Annuler l'envoi">
                                <i class="delete red icon"></i>
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <i class="mail outline icon"></i>: Envoi par courrier / @ : Envoi par e-mail


        </div>
    </div>
</div>

{% endblock %}


{% macro adresse(owner,methodeEnvoi,rue,npa,localite,email) %}

    {{ owner }}<br>
    {% if methodeEnvoi == 'Email' %}
        {{ email }}
    {% elseif methodeEnvoi == 'Courrier' %}
        {{ rue }}<br>
        {{ npa }} {{ localite }}
    {% endif %}


{% endmacro %}
