{% extends "layout.html.twig" %}

{% block titre %}Satistique{% endblock %}


{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui grid">
                        <div class="row">
                            <div class="nine wide column">
                                <div class="ui segment">
                                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
                                        <div class="ui message blue">
                                            Afficher un graphique en appuyant sur les boutons comme celui-ci:

                                            <i class="bar chart large blue icon"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="seven wide column">

                                <div class="ui styled accordion">
                                    <div class=" title">
                                        <i class="dropdown icon"></i> Finances
                                    </div>
                                    <div class="content">
                                        <div class="ui styled accordion">
                                            <div class=" title">
                                                <i onclick="getGraph('finances_evolution_rappels');"
                                                   class="bar chart large blue icon popupable"
                                                   data-content="Afficher"></i>
                                                <i class="dropdown icon"></i>
                                                Evolution des rappels
                                            </div>
                                            <div class="content">
                                                Explication

                                            </div>
                                            <div class="title">
                                                <i onclick="getGraph('creances_emises_recues');"
                                                   class="bar chart large blue icon popupable"
                                                   data-content="Afficher"></i>
                                                <i class="dropdown icon"></i>
                                                Créances émises et reçues
                                            </div>
                                            <div class="content">
                                                <div class="ui message blue">
                                                    Explication
                                                </div>

                                                <div id="creances_emises_recues"class="ui form">

                                                    <h4 class="ui dividing header">Options du graphique</h4>
                                                    <div class="field">
                                                        <label>Intervale entre les points</label>
                                                        <select class="ui dropdown graph_option_choices">
                                                            <option name="interval" value="P1W">Intervale</option>
                                                            <option name="interval" value="P1D">un jour</option>
                                                            <option name="interval" value="P1W">une semaine</option>
                                                            <option name="interval" value="P1M">un mois</option>
                                                        </select>

                                                    </div>
                                                    <div class="field">
                                                        <label>Periode total</label>
                                                        <select class="ui dropdown graph_option_choices">
                                                            <option name="periode" value="P6M">Période</option>
                                                            <option name="periode" value="P1M">un mois</option>
                                                            <option name="periode" value="P3M">trois mois</option>
                                                            <option name="periode" value="P6M">six mois</option>
                                                            <option name="periode" value="P1Y">une année</option>
                                                            <option name="periode" value="P2Y">deux ans</option>
                                                            <option name="periode" value="P3Y">trois ans</option>
                                                        </select>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="title">
                                                <i onclick="getGraph('montant_en_attente');"
                                                   class="bar chart large blue icon popupable"
                                                   data-content="Afficher"></i>
                                                <i class="dropdown icon"></i>
                                                Montant en attente
                                            </div>
                                            <div class="content">
                                                <div class="ui message blue">
                                                    Explication
                                                </div>

                                                <div id="montant_en_attente" class="ui form">

                                                    <h4 class="ui dividing header">Options du graphique</h4>
                                                    <div class="field">
                                                        <label>Intervale entre les points</label>
                                                        <select class="ui dropdown graph_option_choices">
                                                            <option name="interval" value="P1W">Intervale</option>
                                                            <option name="interval" value="P1D">un jour</option>
                                                            <option name="interval" value="P1W">une semaine</option>
                                                            <option name="interval" value="P1M">un mois</option>
                                                        </select>

                                                    </div>
                                                    <div class="field">
                                                        <label>Periode total</label>
                                                        <select class="ui dropdown graph_option_choices">
                                                            <option name="periode" value="P6M">Période</option>
                                                            <option name="periode" value="P1M">un mois</option>
                                                            <option name="periode" value="P3M">trois mois</option>
                                                            <option name="periode" value="P6M">six mois</option>
                                                            <option name="periode" value="P1Y">une année</option>
                                                            <option name="periode" value="P2Y">deux ans</option>
                                                            <option name="periode" value="P3Y">trois ans</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class=" title">
                                        <i class="dropdown icon"></i> Membres
                                    </div>
                                    <div class="content">
                                        <div class="ui styled accordion">
                                            <div class=" title">
                                                <i onclick="getGraph('effectifs_pie_charts');"
                                                   class="bar chart large blue icon popupable"
                                                   data-content="Afficher"></i>
                                                <i class="dropdown icon"></i>
                                                Effectifs Actuels (gâteau)
                                            </div>
                                            <div class="content">
                                                <div class="ui message blue">
                                                    Explication
                                                </div>

                                                <div id="effectifs_pie_charts" class="ui form">

                                                    <h4 class="ui dividing header">Options du graphique</h4>
                                                    <div class="field">
                                                        <label>Groupe</label>
                                                        <select class="ui search dropdown graph_option_choices">
                                                            <option name="groupe" value="">Tout les groupes</option>
                                                            {% for groupe in groupes %}
                                                                <option name="groupe" value="{{ groupe.id }}">{{ groupe.nom }}</option>
                                                            {% endfor %}
                                                        </select>

                                                    </div>
                                                    <div class="field">
                                                        <label>Nombre de niveau (sous-groupe)</label>

                                                        <input type="number" class="graph_option_number" name="nb_niveau" value="1">

                                                    </div>


                                                </div>

                                            </div>
                                        </div>

                                        <div class="ui styled accordion">
                                            <div class=" title">
                                                <i onclick="getGraph('evolution_effectifs');"
                                                   class="bar chart large blue icon popupable"
                                                   data-content="Afficher"></i>
                                                <i class="dropdown icon"></i>
                                                Evolution des effectifs
                                            </div>
                                            <div class="content">
                                                <div class="ui message blue">
                                                    Explication
                                                </div>

                                                <div id="evolution_effectifs" class="ui form">

                                                    <h4 class="ui dividing header">Options du graphique</h4>
                                                    <div class="field">
                                                        <label>Groupe</label>
                                                        <select class="ui search dropdown graph_option_choices">
                                                            <option name="groupe" value="">Tout les groupes</option>
                                                            {% for groupe in groupes %}
                                                                <option name="groupe" value="{{ groupe.id }}">{{ groupe.nom }}</option>
                                                            {% endfor %}
                                                        </select>

                                                    </div>

                                                    <div class="field">
                                                        <label>Intervale entre les points</label>
                                                        <select class="ui dropdown graph_option_choices">
                                                            <option name="interval" value="P1W">Intervale</option>
                                                            <option name="interval" value="P1D">un jour</option>
                                                            <option name="interval" value="P1W">une semaine</option>
                                                            <option name="interval" value="P1M">un mois</option>
                                                        </select>

                                                    </div>
                                                    <div class="field">
                                                        <label>Periode total</label>
                                                        <select class="ui dropdown graph_option_choices">
                                                            <option name="periode" value="P6M">Période</option>
                                                            <option name="periode" value="P1M">un mois</option>
                                                            <option name="periode" value="P3M">trois mois</option>
                                                            <option name="periode" value="P6M">six mois</option>
                                                            <option name="periode" value="P1Y">une année</option>
                                                            <option name="periode" value="P2Y">deux ans</option>
                                                            <option name="periode" value="P3Y">trois ans</option>
                                                        </select>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}


    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>

    {% javascripts
    '@AppBundle/Resources/public/js/Statistics/page_statistics.js'%}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}


{% endblock %}
