<div class="ui small inverted header">Finances</div>
<div class="menu">

    <a class="item" href="{{path('interne_finances_creance_search')}}">Recherche de créances</a>

    <a class="item" href="{{path('interne_finances_facture_search')}}">Recherche de factures</a>


    <a class="item" href="{{path('interne_finances_payement_search')}}">Recherche de payements</a>

    <a class="item" href="{{path('interne_finances_payement_add')}}">Saisie de payements</a>

    <a class="item" href="{{path('interne_finances_payement_validation_list')}}">Validation de payements</a>




</div>