{% form_theme creanceForm 'InterneFinancesBundle:Templates:form_template.html.twig' %}

<div class="ui modal" id="modal-add-creance" aria-hidden="true">


    <i class="close icon"></i>
    <div class="header">


        {% if ownerEntity == null %}
            <h4 class="modal-title" >Ajouter une créance en masse</h4>

        {% elseif ownerEntity.isClass('Membre') %}
            <h4 class="modal-title" >Ajouter une créance au membre</h4>

        {% elseif ownerEntity.isClass('Famille') %}
            <h4 class="modal-title" >Ajouter une créance à la famille</h4>

        {% endif %}


    </div>
    <div class="content" style="overflow-y:auto">



        {{ form_start(creanceForm, {'attr': {'id': 'addCreanceForm'}}) }}

        <div class="ui form">

            {{ form_row(creanceForm.titre) }}
            {{ form_row(creanceForm.remarque) }}
            {{ form_row(creanceForm.montantEmis) }}
            {{ form_rest(creanceForm) }}

        </div>


        {{ form_end(creanceForm) }}

    </div>
    <div class="actions">


        {% if ownerEntity == null %}



            <div class="ui button blue" onclick="adderAddCreances();">Valider</div>



        {% elseif ownerEntity.isClass('Membre') %}

            <div class="ui button blue" onclick="addCreance();">Valider</div>




        {% elseif ownerEntity.isClass('Famille') %}

            <div class="ui button blue" onclick="">Valider</div>

        {% endif %}


    </div>

</div>


{% block javascript %}


    <script>

        function openCreanceForm()
        {
            $('#modal-add-creance').modal('show');

        }


    </script>

{% endblock %}





