
{% macro input_number_switch(form_value, form_min, form_max) %}
    <div class="field">
        <label>{{ form_label(form_value) }}</label>
        <div class="searchSwitch">
            <div class="optionSearch" >
                <div class="input-group">
                    <table>
                        <tr>
                            <td>{{ form_widget(form_value, { 'attr': {'placeholder': "Fixe"}}) }}</td>
                            <td>
                                <div class="ui button tiny" onclick="searchSwitch(this);">
                                    <i class="exchange icon"></i>
                                    Intervale
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="optionSearch" hidden>
                <div class="input-group">
                    <table>
                        <tr>
                            <td>{{ form_widget(form_min, { 'attr': {'placeholder': "De (minimum)"}}) }}</td>
                            <td rowspan="2">
                                <div class="ui button tiny" onclick="searchSwitch(this);">
                                    <i class="exchange icon"></i>
                                    Fixe
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>{{ form_widget(form_max, { 'attr': {'placeholder': "à (maximum)"}}) }}</td>


                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro input_date_switch(form_value, form_min, form_max) %}
    <div class="field">
        <label>{{ form_label(form_value) }}</label>
        <div class="searchSwitch">
            <div class="optionSearch" >
                <div class="input-group">
                    <table>
                        <tr>
                            <td>{{ form_widget(form_value) }}</td>
                            <td>
                                <div class="ui button tiny" onclick="searchSwitch(this);">
                                    <i class="exchange icon"></i>
                                    Intervale

                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="optionSearch" hidden>
                <div class="input-group">
                    <table>
                        <tr>
                            <td>Du</td>
                            <td>{{ form_widget(form_min) }}</td>
                            <td rowspan="2">
                                <div class="ui button tiny" onclick="searchSwitch(this);">
                                    <i class="exchange icon"></i>
                                    Fixe
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>au</td>
                            <td>{{ form_widget(form_max) }}</td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}