<div id="envoi-document-modale" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
    </div>

    <div class="content">

        {{ form_start(form,{'attr': {'class': 'ui form'}}) }}


        {{ form_widget(form.document,{'attr': {'class': 'form_file'}}) }}

        {{ form_widget(form.description,{'attr': {'class': 'descriptionFile'}}) }}



        {{ form_rest(form) }}

        <div class="ui field">
            <input type="submit" class="ui green button" value="Charger et envoyer" />
        </div>


        {{ form_end(form) }}



        <script>
            $('.form_file').change(function(){

                var file = $(this)[0].files[0];
                var name = file.name;
                var size = file.size;
                var type = file.type;

                $('.descriptionFile').val(name);

            });
        </script>

    </div>
    <div class="actions">
        <div class="ui button">Annuler</div>
    </div>



</div>


