{% extends "@App/Layout/pdf.html.twig" %}

{% block titre %}
    {{ group.nom }}
{% endblock %}

{% block header %}
{% endblock %}

{% if cell_horizontal_count == 1 %}
    {% set width = "sixteen" %}
{% elseif cell_horizontal_count == 2 %}
    {% set width = "eight" %}
{% elseif cell_horizontal_count == 3 %}
    {% set width = "five" %}
{% elseif cell_horizontal_count == 4 %}
    {% set width = "four" %}
{% elseif cell_horizontal_count == 5 %}
    {% set width = "three" %}
{% else %}
    {% set width = "four" %}
{% endif %}

{% block content %}


    {% set effectifs = group.members %}

    {% for subGroup in group.enfants %}
        {% set effectifs = effectifs|merge(subGroup.members) %}
    {% endfor %}

    <div class="ui grid">

        {% for member in effectifs %}

            <div class="{{ width }} wide column etiquette">
                <p>
                    Aux parents de<br/>
                    {{ member.prenom }} {{ member.nom }}<br/>
                    {{ member.Contact.Adresse.Rue }}<br/>
                    <b>{{ member.Contact.Adresse.Npa }} {{ member.Contact.Adresse.Localite }}</b>
                </p>
            </div>

        {% endfor %}

    </div>

{% endblock %}


{% block css %}
    .etiquette {
    height: {{ corrected_page_height / cell_vertical_count }}cm;
    //border-style: double;
    }

    .ui.grid {
    margin: 0;
    }

    .etiquette p {
    margin: 0.5cm;
    font-size: {{ font_size }}em;
    }

    body {
    //border-style: double;
    //border-color: red;
    margin: 0;
    padding: 0;

    height: {{ corrected_page_height }}cm;
    width: {{ corrected_page_width }}cm;
    }
{% endblock %}


{% block js %}


{% endblock %}

