{% if form.nom.vars.value == '' %}
    {%  set header = 'Ajouter un groupe' %}
    {%  set buttonText = 'Ajouter' %}
{% else %}
    {%  set header = 'Modifier un groupe' %}
    {%  set buttonText = 'Modifier' %}
{% endif %}

<div id="groupe-modale" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        {{ header }}
    </div>

    <div class="content">

        {{ form_start(form,{'attr': {'class': 'ui form'}}) }}


        {{ form_widget(form.parent) }}


        {{ form_widget(form.nom) }}


        {{ form_widget(form.model) }}


        {{ form_rest(form) }}

        <div class="ui field">
            <input type="submit" class="ui green button" value="{{ buttonText }}" />
        </div>

        {{ form_end(form) }}


    </div>
    <div class="actions">
        <div class="ui button">Annuler</div>
    </div>
</div>