{% extends 'AppBundle:Layout:layout.html.twig' %}

{% form_theme groupeForm 'Templates/form_to_xEditable.html.twig' %}

{% block titre %}{{ groupe.nom }}{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">

                <h2 class="ui header">
                    <i class="sitemap icon"></i>
                    <div class="content">
                        {{ groupe.nom|capitalize }} - {{ groupe.model.nom|capitalize }}
                        <div class="sub header">
                            <div class="ui breadcrumb">
                                {% for parent in groupe.parentsRecursive %}
                                    {% if groupe.id != parent.id %}
                                        <a href="{{ path('app_groupe_show', {groupe: parent.id}) }}" class="section">{{ parent.nom }}</a>

                                        {% if not loop.last %}
                                            <i class="right chevron icon divider"></i>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                <div class="active section">{{ groupe.nom }}</div>

                            </div>
                        </div>
                    </div>
                </h2>

            </div>
        </div>
        <div class="row">
            <div class="eleven wide column">

                <div class="ui attached message">
                    <div class="header"><h3><i class="info icon"></i>Informations</h3></div>
                </div>

                <div class="ui bottom attached segment">

                    <div class="ui two column grid">
                        <div class="column">
                            {{ form_row(groupeForm.nom) }}
                            {{ form_row(groupeForm.active) }}
                        </div>
                        <div class="column">
                            <div class="ui bottom attached segment">

                                <div class="ui divided list">

                                    <a class="item">
                                        <div class="right floated ui blue circular label">{{ groupe.members|length }}</div>
                                        <div class="content">
                                            <p>Effectifs direct</p>
                                        </div>
                                    </a>

                                    {% for enfant in groupe.enfants %}
                                        <a href="{{ path('app_groupe_show', {groupe: enfant.id}) }}" class="item">
                                            <div class="right floated ui blue circular label">{{ enfant.membersRecursive|length }}</div>
                                            <div class="content">
                                                <p>{{ enfant.nom }}</p>
                                            </div>
                                        </a>
                                    {% endfor %}

                                    <a class="item">
                                        <div class="right floated ui blue circular label">{{ groupe.membersRecursive|length }}</div>
                                        <div class="content">
                                            <p class="header">Effectifs total</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="five wide column">

                <div class="ui attached message">
                    <div class="header"><h3><i class="upload icon"></i>Exporter</h3></div>
                </div>

                <div class="ui bottom attached segment">
                    <div class="ui secondary vertical fluid menu">
                        <a class="item">
                            <i class="file pdf outline icon"></i>PDF
                        </a>
                        <a class="item">
                            <i class="file excel outline icon"></i>Excel
                        </a>
                        <a class="item">
                            <i class="grid layout icon"></i>Étiquettes
                        </a>
                        <a class="item">
                            <i class="list layout icon"></i>Liste REGA
                        </a>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="column">
                <div class="ui attached message">
                    <div class="header"><h3><i class="users icon"></i>Effectifs directs</h3></div>
                </div>

                <div class="ui bottom attached segment">
                    {{ list_caller.listById(constant('AppBundle\\Utils\\ListUtils\\ListContainer::MembreEffectifs'),  groupe.members|ids_for_routing)|raw }}
                </div>

                {% if groupe.model.affichageEffectifs %}

                    <h4 class="ui horizontal header divider">
                        <i class="bar chart icon"></i>
                        Effectifs détaillés
                    </h4>


                    {% for groupeEnfant in groupe.enfants %}
                        <div class="ui attached message">
                            <div class="header"><h3><i class="users icon"></i>{{ groupeEnfant.nom|capitalize }}</h3>
                            </div>
                        </div>

                        <div class="ui bottom attached segment">
                            {{ list_caller.listById(constant('AppBundle\\Utils\\ListUtils\\ListContainer::MembreEffectifs'),  groupeEnfant.members|ids_for_routing)|raw }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>

                {#

                    <div class="ui grid">
                        <div class="row">



                            <div class="twelve wide column">
                                <div class="ui vertical">
                                    <div class="ui segment">


                                        <div class="ui three column aligned relaxed fitted stackable grid">
                                            <div class="column">

                                                <p>Exporter</p>
                                                <div class="ui vertical basic buttons">

                                                </div>
                                            </div>

                                            <div class="column">

                                                <p>Outils</p>
                                                <div class="ui vertical basic buttons">
                                                    <div class="ui button" id=""><i class="child icon"></i>Ajouter un membre</div>
                                                    <div class="ui button" id=""><i class="send icon"></i>Envoyer un document</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>


                            <div class="four wide column">

                                <div class="ui vertical">
                                    <div class="ui segment">


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="ui vertical segment">

                        {{ macro.effectifs(groupe,listing) }}

                        {% if groupe.model.affichageEffectifs %}
                            {% for enfant in groupe.enfants %}
                                {{ macro.effectifs(enfant,listing) }}
                            {% endfor %}
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
    </div>

    #}


{% endblock %}

{% block js %}

    {% javascripts
    '@AppBundle/Resources/public/js/Groupe/page_voir_groupe.js'
    '@AppBundle/Resources/public/js/Envoi/display_form_envoi_document.js'%}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock %}