{% extends 'AppBundle:Layout:layout.html.twig' %}

{% import _self as macro %}

{% block titre %}{{ groupe.nom }}{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">

                <div class="ui close right rail">
                    <div class="ui sticky fixed top">
                        <div id="page-menu" class="ui secondary vertical following fluid menu">

                            {% for enfant in groupe.enfants %}
                                <a class="item" href="#{{ enfant.nom }}">{{ enfant.nom }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="ui segment">

                    <div class="ui vertical segment">

                        <div class="ui breadcrumb">
                            {% for parent in groupe.parentsRecursive %}
                                {% if groupe.id != parent.id %}
                                    <a href="{{ path('interne_voir_groupe', {groupe: parent.id}) }}" class="section">{{ parent.nom }}</a>

                                    {% if not loop.last %}
                                        <i class="right chevron icon divider"></i>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <div class="active section">{{ groupe.nom }}</div>

                        </div>

                    </div>

                    <h1>{{ groupe.model.nom|capitalize }} de {{ groupe.nom|capitalize }}</h1>

                    <div class="ui grid">
                        <div class="row">



                            <div class="twelve wide column">
                                <div class="ui vertical">
                                    <div class="ui segment">


                                        <div class="ui three column aligned relaxed fitted stackable grid">
                                            <div class="column">

                                                <p>Exporter</p>
                                                <div class="ui vertical basic buttons">
                                                    <div class="ui button" id="export-liste-pdf"><i class="file pdf icon outline"></i>PDF</div>
                                                    <div class="ui button" id="export-liste-excel"><i class="file excel icon outline"></i>Excel</div>
                                                    <div class="ui button" id="export-etiquettes"><i class="grid layout icon"></i>Etiquettes</div>
                                                    <div class="ui button" id="export-rega"><i class="grid layout icon"></i>Liste REGA</div>
                                                </div>
                                            </div>

                                            <div class="column">

                                                <p>Outils</p>
                                                <div class="ui vertical basic buttons">
                                                    <div class="ui button" id=""><i class="child icon"></i>Ajouter un membre</div>
                                                    <div class="ui button" id=""><i class="send icon"></i>Envoyer un document</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>


                            <div class="four wide column">

                                <div class="ui vertical">
                                    <div class="ui segment">

                                        <div class="ui divided list">

                                            <a class="item">
                                                <div class="right floated ui blue circular label">{{ groupe.members|length }}</div>
                                                <div class="content">
                                                    <p>Effectifs direct</p>
                                                </div>
                                            </a>

                                            {% for enfant in groupe.enfants %}
                                                <a href="{{ path('interne_voir_groupe', {groupe: enfant.id}) }}" class="item">
                                                    <div class="right floated ui blue circular label">{{ enfant.membersRecursive|length }}</div>
                                                    <div class="content">
                                                        <p>{{ enfant.nom }}</p>
                                                    </div>
                                                </a>
                                            {% endfor %}

                                            <a class="item">
                                                <div class="right floated ui blue circular label">{{ groupe.membersRecursive|length }}</div>
                                                <div class="content">
                                                    <p class="header">Effectifs total</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="ui vertical segment">

                        {{ macro.effectifs(groupe,listing) }}

                        {% if groupe.model.affichageEffectifs %}
                            {% for enfant in groupe.enfants %}
                                {{ macro.effectifs(enfant,listing) }}
                            {% endfor %}
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% macro effectifs(groupe,listing) %}

    <h2>{{ groupe.nom|capitalize }} ({{ groupe.model.nom|capitalize }})</h2>
    <a class="anchor active" id="{{ groupe.nom }}"></a>

    {% set membres = groupe.members %}
    {% include 'AppBundle:Membre:liste.html.twig' %}

    <div class="ui floating dropdown labeled icon green button">
        <i class="list icon"></i>
        Ajouter (<span class="listing-update">0</span>)
        <div class="menu">
            <div class="header">
                Ajouter à une liste
            </div>
            {% for liste in listing.listes %}

                <div class="item" onclick="addToListing('{{ liste.token }}');">
                    {{ liste.name }}
                    <span class="description">{{ liste.length }}</span>
                </div>

            {% endfor %}
        </div>
    </div>

    <div onclick="deselectAll();" class="right floated ui labeled icon button">
        <i class="minus icon"></i>
        Tout désélectionner
    </div>

    <div onclick="selectAll();" class="right floated ui labeled icon button">
        <i class="plus icon"></i>
        Tout séléctionner
    </div>



{% endmacro %}

{% block js %}

    {% javascripts
    '@AppBundle/Resources/public/js/Groupe/page_voir_groupe.js'
    '@AppBundle/Resources/public/js/Envoi/display_form_envoi_document.js'%}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock %}