
<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <title>{% block titre %}{% endblock %} | netBS</title>
    <meta name="description" content="NetBS | outil de gestion de groupe scout développé par la Brigade de Sauvabelin">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{{ asset('semantic/semantic.min.css') }}">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>


    {% stylesheets '@AppBundle/Resources/public/css/*' output='css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}



    {% block css %}{% endblock %}

    {% block headjs %}{% endblock %}

</head>
<body {% block onload %}{% endblock %}>

<div id="main-menu" class="ui vertical inverted sidebar menu">

    {{ render(controller('AppBundle:Layout:mainMenuGenerate')) }}

</div>


<div class="pusher">


    <div id="alerts-bag"></div>

    <header>

        <div>
            <button class="header-button" id="main-menu-button">
                <i class="big content icon"></i>
            </button>

            <div class="header-button dropdown-first-level ui dropdown icon">
                <i class="big inbox icon"></i>
                <div class="menu">
                    <div class="item">
                        <i class="plus icon"></i>
                        Nouveau message
                    </div>

                    <div class="item">
                        <i class="mail outline icon"></i>
                        Boite de réception
                    </div>
                </div>
            </div>

            <h4><i class="user icon"></i> <span>netBS - </span>{{ block('titre') }}</h4>

        </div>

        <div class="center-section">
            <div id="layout-search" class="ui category search">
                <div class="ui small fluid icon input">
                    <input id="layout-search-input" class="prompt" type="text" placeholder="Rechercher...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>


        <div class="right-section">

                <a class="ui teal label"><i class="database icon"></i> Listes</a>
                <a href="{{ path('security_my_account') }}" class="ui blue label"><i class="user icon"></i> {{ app.security.token.user.membre.prenom|capitalize }} {{ app.security.token.user.membre.nom|capitalize }}</a>

        </div>

    </header>

    <div id="main-corpus">
        {% block content %}{% endblock %}
    </div>

    <div id="server-data" data-yolo="{% if clientData is defined %}{{ clientData }}{% endif %}"></div>

</div>

{#
{% javascripts '%kernel.root_dir%/../vendor/components/jquery/jquery.min.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
#}


<script src="{{ asset('assetic/jquery.js') }}"></script>
<script src="{{ asset('semantic/semantic.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>


{% javascripts
    '@AppBundle/Resources/public/js/alwaysIncluded/*'
    '@AppBundle/Resources/public/js/layout.js'

    output="js/main.js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">


    /*
     * Pour chaque flashbag contenu, sachant qu'ils ne contiennent que des alertes et des messages, on génère
     * une alerte correspondante
     */
    {% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
    alerte.send("{{ flash }}", "{{ label }}");
    {% endfor %}
    {% endfor %}
</script>



{% block js %}

{% endblock %}

</body>
</html>