{% if form.obtention.vars.value == '' %}
    {%  set header = 'Ajouter une distinction' %}
    {%  set buttonText = 'Ajouter' %}
{% else %}
    {%  set header = 'Modifier une distinction' %}
    {%  set buttonText = 'Modifier' %}
{% endif %}


<div id="modal-add-obtentions-distinctions" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        {{ header }}
    </div>

    <div class="content">

        {{ form_start(form,{'attr': {'class': 'ui form'}}) }}

        {{ form_rest(form) }}


        <div class="ui field">
            <input type="submit" class="ui green button" value="{{ buttonText }}" />
        </div>


        {{ form_end(form) }}

    </div>
    <div class="actions">
        <div class="ui button">Annuler</div>
    </div>
</div>


{#<div id="modal-add-obtentions-distinctions" class="ui small modal">#}
    {#<i class="close icon"></i>#}
    {#<div class="header">#}
        {#Ajout de distinction(s)#}
    {#</div>#}
    {#<div class="content">#}

        {#<b>Choisir des distinctions à ajouter</b>#}
        {#<select id="distinction-select" class="select2" multiple>#}
            {#{% for distinction in distinctions %}#}
                {#<option value="{{ distinction.id }}">{{ distinction.nom }}</option>#}
            {#{% endfor %}#}
        {#</select>#}

        {#<div class="ui divider"></div>#}

        {#<div class="ui input">#}
            {#<b>Date d'ajout</b>#}
            {#<input type="text" class="datepicker" />#}
        {#</div>#}

    {#</div>#}

    {#<div class="actions">#}
        {#<div class="ui button">Cancel</div>#}
        {#<div onclick="addListe(true);" class="ui button">OK</div>#}
    {#</div>#}
{#</div>#}