{% extends "AppBundle:Templates:modal_small.html.twig" %}

{% if form.id is not defined %}
    {%  set header = 'Ajouter une distinction' %}
    {%  set buttonText = 'Ajouter' %}
{% else %}
    {%  set header = 'Modifier une distinction' %}
    {%  set buttonText = 'Modifier' %}
{% endif %}


{% block header %}
    {{ header }}
{% endblock %}

{% block content %}

    {{ form_start(form, {'attr': {'class': 'ui form ajax'}}) }}

    {{ form_errors(form) }}

    {{ form_rest(form) }}

    <div class="ui field">
        <input type="submit" class="ui green button" value="{{ buttonText }}"/>
    </div>

    {{ form_end(form) }}

{% endblock %}