{% extends 'AppBundle:Templates:modal_small.html.twig' %}

{% block header %}
    Détail de la facture N°{{ facture.id }}
{% endblock %}

{% block content %}
    <table class="ui definition table">
        <tbody>
        <tr>
            <td>Statut</td>
            <td>
                {{ facture|facture_is_payed_detail|raw }}
            </td>
        </tr>
        <tr>
            <td>Date de création</td>
            <td>{{ facture.dateCreation|date("d/m/Y") }}</td>
        </tr>



        <tr>
            <td>Date de payement</td>
            <td>
                {% if facture.statut == 'payee' %}
                    {{ facture.datePayement|date("d/m/Y") }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Propriétaire</td>
            <td>
                {{ facture.debiteur.owner.__toString }}
            </td>
        </tr>

        <tr>

            <td>Envoie par courrier</td>
            <td>

                {#
                {% include 'AppBundle:Adresse:show_format_postal.html.twig' with {'adresseExpedition':facture.debiteur.owner.adresseExpedition} %}

                #}
            </td>
        </tr>

        <tr>

            <td>Envoie par e-mail</td>
            <td>
                {#
                {% include 'AppBundle:Email:show_liste_expedition.html.twig' with {'listeEmailsExpedition':facture.debiteur.owner.listeEmailsExpedition} %}
                #}
            </td>
        </tr>



        </tbody>
    </table>

    <table class="ui celled table">
        <thead>
        <tr>
            <th rowspan="2">Créances et Rappels</th>
            <th colspan="2">Montant</th>
        </tr>
        <tr>
            <th>Emis</th>
            <th>Reçu</th>
        </tr>
        </thead>
        <tbody>
        {% for creance in facture.creances %}
            <tr>
                <td>
                    <b>{{ creance.titre }}</b>

                    {% if creance.remarque is not empty %}
                        <br>

                        Remarque: {{ creance.remarque }}
                    {% endif %}
                </td>
                <td>{{ creance.montantEmis|money }}</td>
                {% if creance.montantRecu >= creance.montantEmis %}
                    <td class="positive">{{ creance.montantRecu|money }}</td>
                {% else %}
                    <td class="negative">{{ creance.montantRecu|money }}</td>
                {% endif %}
            </tr>



        {% endfor %}
        {% for rappel in facture.rappels %}
            <tr>
                <td>Rappel N°{{ loop.index }}</td>
                <td>{{ rappel.montantEmis|money }}</td>
                {% if rappel.montantRecu >= rappel.montantEmis %}
                    <td class="positive">{{ rappel.montantRecu|money }}</td>
                {% else %}
                    <td class="negative">{{ rappel.montantRecu|money }}</td>
                {% endif %}
            </tr>
        {% endfor %}

        <tr>
            <td class="right aligned">Total</td>
            <td>{{ facture.montantEmis|money }}</td>
            {% if facture.montantRecu >= facture.montantEmis %}
                <td class="positive">{{ facture.montantRecu|money }}</td>
            {% else %}
                <td class="negative">{{ facture.montantRecu|money }}</td>
            {% endif %}
        </tr>

        </tbody>
    </table>
{% endblock %}
