{% extends 'AppBundle:Templates:modal_small.html.twig' %}

{% block header %}
    Détail de la facture N°{{ facture.id }}
{% endblock %}

{% set hasPayement = facture.hasPayement() %}

{% block content %}
    <table class="ui definition table">
        <tbody>
        <tr>
            <td>Statut</td>
            <td>
                {{ facture|facture_state_detail|raw }}
            </td>
        </tr>
        <tr>
            <td>Date de création</td>
            <td>{{ facture.dateCreation|date(global_date_format) }}</td>
        </tr>



        {% if hasPayement %}
        <tr>
            <td>Date de payement</td>
            <td>
                {{ facture.datePayement|date(global_date_format) }}

                {{ modal_caller('<a class=" "><i class="zoom blue icon"></i>Voir le payement</a>',path('app_payement_show',{'payement':facture.payement.id})) }}
            </td>
        </tr>
        {% endif %}

        <tr>
            <td>Propriétaire</td>
            <td>
                {{ facture.debiteur.getOwnerAsString() }}
            </td>
        </tr>

        <tr>

            <td>Envoie par courrier</td>
            <td>

                {#
                {% include 'AppBundle:Adresse:show_format_postal.html.twig' with {'adresseExpedition':facture.debiteur.owner.adresseExpedition} %}

                #}
            </td>
        </tr>

        <tr>

            <td>Envoie par e-mail</td>
            <td>
                {#
                {% include 'AppBundle:Email:show_liste_expedition.html.twig' with {'listeEmailsExpedition':facture.debiteur.owner.listeEmailsExpedition} %}
                #}
            </td>
        </tr>



        </tbody>
    </table>

    <table class="ui celled table">
        <thead>
        <tr>
            <th rowspan="2">Créances et Rappels</th>
            <th>Montant émis</th>
            {% if hasPayement %}
            <th>Reçu</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for creance in facture.creances %}
            <tr>
                <td>

                    {{ modal_caller('<i class="zoom blue icon"></i>',path('app_creance_show',{'creance':creance.id})) }}


                    <b>{{ creance.titre }}</b>

                    {% if creance.remarques is not empty %}
                        <br>

                        Remarque: {{ creance.remarques }}
                    {% endif %}
                </td>
                <td>{{ creance.montantEmis|money }}</td>

                {% if hasPayement %}
                    {% if creance.montantRecu >= creance.montantEmis %}
                        <td class="positive">{{ creance.montantRecu|money }}</td>
                    {% else %}
                        <td class="negative">{{ creance.montantRecu|money }}</td>
                    {% endif %}
                {% endif %}
            </tr>



        {% endfor %}
        {% for rappel in facture.rappels %}
            <tr>
                <td>Rappel N°{{ loop.index }}</td>
                <td>{{ rappel.montantEmis|money }}</td>
                {% if hasPayement %}
                    {% if rappel.montantRecu >= rappel.montantEmis %}
                        <td class="positive">{{ rappel.montantRecu|money }}</td>
                    {% else %}
                        <td class="negative">{{ rappel.montantRecu|money }}</td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}

        <tr>
            <td class="right aligned">Total</td>
            <td>{{ facture.montantEmis|money }}</td>
            {% if hasPayement %}
                {% if facture.montantRecu >= facture.montantEmis %}
                    <td class="positive">{{ facture.montantRecu|money }}</td>
                {% else %}
                    <td class="negative">{{ facture.montantRecu|money }}</td>
                {% endif %}
            {% endif %}
        </tr>

        </tbody>
    </table>
{% endblock %}
