{% extends 'form_div_layout.html.twig' %}

{% use 'form_div_layout.html.twig' with form_label as base_form_label %}



{% block form_row %}

    {{ form_widget(form) }}
{% endblock form_row %}


{# label #}
{% block form_label -%}
    {{ block('base_form_label') }}
{%- endblock form_label %}


{# simple widget #}
{% block form_widget_simple -%}

        {%- set type = type|default('text') -%}
        <div data-type="text" {{ block('validation_block') }}>{% if value is not empty %}{{ value }}{% endif %}</div>

{%- endblock form_widget_simple %}


{#
    validation_block
    Génère les attributs class et data-path
#}
{% block validation_block -%}

    {{ block('base_form_label')|validation }}

{%- endblock validation_block %}