{% extends "layout.html.twig" %}

{% block titre %}Dev Bundle Finances{% endblock %}


{% block content %}





<a href="{{path('interne_fiances_search')}}">search facture </a><br>
<a href="{{path('interne_fiances_payement')}}">Payements </a><br>
<a href="{{path('interne_fiances_statistics')}}">Stat </a><br>
<a href="{{path('interne_finances_validation')}}"> Validation </a><br>
<a href="{{path('interne_parametre_listing', {'groupe' : 'facture'} )}}">Parametres </a><br>



TO DO LIST
<ul>
    <li>statistique</li>
    <li></li>
    <li>l'algo de recherche avec inclusion des onetomany</li>
    <li>action en masse depuis le formulaire de recherche</li>
    <li></li>
    <li>télécharger la librairie pour les graphiques de stat</li>
    <li></li>
    <li>date de paiement dans le forumlaire de saisie manuel</li>


</ul>



{% endblock %}