{% extends 'layout.html.twig' %}

{% import _self as macro %}



{% block titre %}{% endblock %}

{% block content %}

<div class="ui page grid">
    <div class="row">
        <div class="column">
            <div class="ui segment">
                <div id="structure-groupe-context" class="tab-context">
                    <div class="ui top attached tabular menu">
                        <div class="active item" data-tab="hierarchie">Hierarchie des groupes</div>
                        <div class="item" data-tab="type">Type de groupes</div>
                        <div class="item" data-tab="function">Fonctions</div>
                    </div>
                    <div class="ui bottom attached active tab segment" data-tab="hierarchie">

                        <div class="ui small button" onclick="addChild(null,'Groupe racine')">
                            <i class="add icon"></i>
                            Ajouter un groupe racine
                        </div>

                        {{ macro.hierarchie(highestGroupes)}}

                    </div>
                    <div class="ui bottom attached tab segment" data-tab="type">

                        <div class="ui small button" onclick="addType()">
                            <i class="add icon"></i>
                            Ajouter un type
                        </div>

                        <table class="ui table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Fonction Chefs</th>
                                    <th>Affichage des effectifs</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for type in types %}
                                    <tr>
                                        <td>{{ type.nom }}</td>
                                        <td>{{ type.fonctionChef.nom }}</td>
                                        <td>
                                            {% if type.affichageEffectifs %}
                                                <i class="checkmark green icon"></i>
                                            {% else %}
                                                <i class="remove red icon"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="ui bottom attached tab segment" data-tab="function">




                        <table class="ui table">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Abreviation</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for fonction in fonctions %}
                                <tr>
                                    <td>{{ fonction.nom }}</td>
                                    <td>{{ fonction.abreviation }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










{% include 'Modales/ajouter_groupe_modale.html.twig' with {'groupeForm':groupeForm} %}
{% include 'Modales/ajouter_type_modale.html.twig' with {'form':typeForm} %}
{% include 'Modales/ajouter_fonction_modale.html.twig' with {'form':fonctionForm} %}

{% endblock %}




{% macro hierarchie(parents) %}
    {% if parents %}
    <div class="ui list">
        {% for parent in parents %}
            <div class="item">
                <i class="top aligned long arrow right icon"></i>
                <div class="content">
                    <div class="ui compact menu">
                        <a class="item" href="{{ path('interne_voir_groupe', {'groupe':parent.id}) }}">
                            {{ parent.nom }}

                        </a>
                        <a class="item">{{ parent.type.nom }}</a>
                        <a class="item">

                               Effectifs actuel: (trop lourd pour le chargement){#{{ parent.getMembersRecursive|length }}#}

                        </a>

                        <a class="item" onclick="addChild({{ parent.id }},'{{ parent.nom }}')> {{ parent.type.nom }}">
                            <i class="add icon"></i>
                            {% if parent.active %}
                                <div class="floating ui green label">Actif</div>
                            {% else %}
                                <div class="floating ui red label">Inactif</div>
                            {% endif %}
                        </a>
                    </div>

                    {% if parent.enfants %}
                        <div class="list">
                            {{ _self.hierarchie(parent.enfants) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endmacro %}


{% block js %}

    {% javascripts
    '@AppBundle/Resources/public/js/specials/hierarchie.js'%}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}


{% endblock %}

