{% extends 'layout.html.twig' %}

{% block titre %}
    {{ membre.prenom }} {{ membre.nom }}
{% endblock %}

{% form_theme membreForm       'Templates/Form/ajax_edit.html.twig' %}
{% form_theme infosScoutesForm 'Templates/Form/ajax_edit.html.twig' %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">

                    <div class="ui right floated basic segment">
                        <br/>

                        {% if membre.validity == 0 %}
                            <a class="circular ui mini icon red button popupable" data-content="Données non vérifiées"><i class="warning icon"></i></a>
                        {% elseif membre.validity == 1 %}
                            <a class="circular ui mini icon yellow button popupable" data-content="Certaines données sont non vérifiées"><i class="warning icon"></i></a>
                        {% elseif membre.validity == 2 %}
                            <a class="circular ui mini icon green button popupable" data-content="Données vérifiées"><i class="checkmark icon"></i></a>
                        {% endif %}

                        <div class="ui circular icon top left pointing dropdown mini green button">
                            <i class="list icon"></i>
                            <div class="menu">
                                <div class="header">Ajouter à une liste</div>
                                {% for liste in listing.listes %}
                                    <div class="item" onclick="addToListing({{ membre.id }}, '{{ liste.token }}', this);">
                                        {% if liste.contains(membre.id) %}<div class="ui green empty circular label"></div>
                                        {% else %}<div class="ui yellow empty circular label"></div>{% endif %}
                                        {{ liste.name }}
                                        <span class="description">{{ liste.length }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="ui circular icon top left pointing dropdown mini blue button">
                            <i class="wrench icon"></i>
                            <div class="menu">

                                <div class="header">Ajouter</div>
                                <div class="item"><i class="star icon"></i> Des distinctions</div>
                                <div class="item"><i class="tags icon"></i> Des attributions</div>
                                <div class="ui divider"></div>

                                <div class="header">Options avancées</div>
                                <div class="item" onclick="modifyFamilleTriggered();"><i class="sitemap icon"></i> Modifier la famille</div>
                                <div class="item" onclick="showModal('#membre-edit-numero-bs');"><i class="privacy icon"></i> Modifier le numéro BS</div>
                            </div>
                        </div>

                    </div>

                    <h1>{{ membre.prenom|capitalize }} {{ membre.nom|capitalize }}</h1>

                    <div class="ui vertical segment">

                        <div id="membre-infos-context" class="tab-context">
                            <div class="ui top attached tabular menu">
                                <div class="active item" data-tab="infos-base">{{ membre.prenom|capitalize }}</div>
                                <div class="item" data-tab="infos-famille">Famille {{ membre.nom|capitalize }}</div>
                                <div class="item" data-tab="infos-scoutes">Infos scoutes</div>
                            </div>
                            <div class="ui bottom attached active tab segment" data-tab="infos-base">
                                <div class="ui grid">
                                    <div class="eight wide column">

                                        {% if membre.adressePrincipale is not null %}
                                            {% if membre.adressePrincipale['origine'] != 'membre' %}

                                            <h4 class="ui header">Adresse principale</h4>
                                            <table class="ui definition table">
                                                <tbody>
                                                <tr>
                                                    <td>Adresse à</td>
                                                    <td><b>{{ membre.adressePrincipale['origine'] }}</b></td>
                                                </tr>
                                                <tr>
                                                    <td>Rue</td>
                                                    <td>{{ membre.adressePrincipale['adresse'].rue }}</td>
                                                </tr>
                                                <tr>
                                                    <td>NPA</td>
                                                    <td>{{ membre.adressePrincipale['adresse'].npa }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Localité</td>
                                                    <td>{{ membre.adressePrincipale['adresse'].localite }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Remarques</td>
                                                    <td>{{ membre.adressePrincipale['adresse'].remarques }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            {% endif %}
                                        {% else %}

                                            <div class="ui yellow icon message">
                                                <i class="warning icon"></i>
                                                <div class="content">
                                                    <p>
                                                        Aucune adresse n'a été trouvée pour {{ membre.prenom|capitalize }} {{ membre.nom|capitalize }} ni pour sa famille. Veuillez
                                                        en ajouter une.
                                                    </p>
                                                </div>
                                            </div>
                                            <button class="ui green button">Ajouter</button>
                                        {% endif %}


                                        <h4>Adresse du membre</h4>

                                        <table class="ui definition table">
                                            <tbody>
                                                {{ form_row(membreForm.adresse) }}
                                            </tbody>
                                        </table>

                                    </div>

                                    <div class="eight wide column">
                                        <h4>Informations sur le membre</h4>
                                        <table class="ui definition table">
                                            <tbody>
                                                <tr>
                                                    <td>Nom</td>
                                                    <td><a href="{{ path('interne_voir_famille', {famille:membre.famille.id}) }}">{{ membre.nom|capitalize }}</a></td>
                                                </tr>
                                                {{ form_row(membreForm) }}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="ui bottom attached tab segment" data-tab="infos-famille">
                                <div class="ui grid">
                                    <div class="column" id="adresse-membre">
                                        <div class="ui grid">
                                            <div class="row">
                                                <div class="six wide column">
                                                    <h4>Adresse familiale</h4>
                                                    {% if membre.famille.adresse is not null %}
                                                    <table class="ui definition table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Rue</td>
                                                                <td>{{ membre.famille.adresse.rue }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>NPA</td>
                                                                <td>{{ membre.famille.adresse.npa }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Localité</td>
                                                                <td>{{ membre.famille.adresse.localite }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Facturable</td>
                                                                <td>{% if membre.famille.adresse %}Oui{% else %}Non{% endif %}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Remarques</td>
                                                                <td>{{ membre.famille.adresse.remarques }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    {% else %}
                                                    <p>Aucune adresse. Vous pouvez en ajouter une depuis la <a href="#">page des {{ membre.nom|capitalize }}</a></p>
                                                    {% endif %}
                                                </div>
                                                <div class="ten wide column">
                                                    <h4>Frères et soeurs</h4>
                                                    <table class="ui table">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Fonction</th>
                                                                <th>Unité</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for gosse in  membre.famille.membres %}

                                                                {% if gosse.id != membre.id %}
                                                                <tr>
                                                                    <td><b>{{ gosse.prenom }}</b></td>
                                                                    {% if gosse.activeAttribution is not null %}
                                                                        <td>
                                                                            {{ gosse.activeAttribution.fonction.abreviation }}
                                                                        </td>
                                                                        <td>
                                                                            {{ gosse.activeAttribution.groupe.nom }}
                                                                        </td>
                                                                    {% else %}
                                                                        <td>Aucune donnée</td>
                                                                        <td></td>
                                                                    {% endif %}
                                                                    <td>
                                                                        <a href="{{ path('interne_voir_membre', {'membre': gosse.id }) }}" class="circular tiny ui icon teal button"><i class="share icon"></i></a>
                                                                    </td>
                                                                </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="ui bottom attached tab segment" data-tab="infos-scoutes">
                                <div class="ui grid">
                                    <div class="row">
                                        <div class="eight wide column">
                                            <table class="ui definition table">
                                                <tbody>
                                                    <tr>
                                                        <td>Numéro BS</td>
                                                        <td>{{ membre.numeroBs }}</td>
                                                    </tr>
                                                    {{ form_row(infosScoutesForm.inscription) }}
                                                    {{ form_row(infosScoutesForm.statut) }}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="eight wide column">
                                            <h4 class="ui header">Distinctions</h4>
                                            <table class="ui table">
                                                <thead>
                                                    <tr>
                                                        <th>Nom</th>
                                                        <th>Date</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for obtention in membre.distinctions %}
                                                        <tr>
                                                            <td>{{ obtention.distinction.nom }}</td>
                                                            <td>{{ obtention.obtention|date('d.m.Y') }}</td>
                                                            <td>
                                                                <button href="#" data-content="{{ obtention.distinction.remarques }}" class="circular ui mini icon blue button popupable"><i class="info icon"></i></button>
                                                                <button href="#" class="circular ui mini icon red button"><i class="remove icon" onclick="removeAttributionOrDistinction(this, {{ membre.id }}, 'ObtentionDistinction', {{ obtention.id }});"></i></button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="column">
                                            <h4>Attributions</h4>
                                            <table class="ui table sortable-table">
                                                <thead>
                                                    <tr>
                                                        <th data-sort="string">Fonction</th>
                                                        <th data-sort="string">Unité</th>
                                                        <th data-sort="int">Début</th>
                                                        <th data-sort="int">Fin</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for attribution in membre.attributions %}
                                                        <tr>
                                                            <td>{{ attribution.fonction.nom }}</td>
                                                            <td><a href="{{ path('interne_voir_groupe', {groupe:attribution.groupe.id}) }}">{{ attribution.groupe.nom }}</a></td>
                                                            <td>{{ attribution.dateDebut|date('d.m.Y') }}</td>
                                                            <td>{{ attribution.dateFin|date('d.m.Y') }}</td>
                                                            <td>
                                                                <button href="#" class="circular ui mini icon red button" onclick="removeAttributionOrDistinction(this, {{ membre.id }}, 'Attribution', {{ attribution.id }});"><i class="remove icon"></i></button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="popup-container"></div>

    <div id="membre-edit-numero-bs" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Modifier le numéro BS
        </div>
        <div class="content">
            <p>Numéro BS actuel : <b>{{ membre.numeroBs }}</b></p>

            <div class="ui action input">
                <input id="new-numero-bs-input" type="number" placeholder="Nouveau numéro" />
                <div onclick="verifyNumeroBs()" id="button-verify-numero-bs" class="ui teal right labeled icon button">
                    <i class="search icon"></i>
                    Vérifier
                </div>
            </div>

        </div>
        <div class="actions">
            <div class="ui red button">Annuler</div>
            <div id="validate-modf-numero-bs" onclick="modifiyNumeroBs({{ membre.id }});" class="ui green disabled button">Modifier</div>
        </div>
    </div>

    <div id="membre-edit-famille" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Modifier la famille
        </div>
        <div class="content">
            <p>Famille actuelle : <b>{{ membre.nom }}</b></p>

            <div class="ui action input">
                <div id="famille-membre-modif-dropdown" class="ui fluid search selection dropdown">
                    <input type="hidden" name="country">
                    <i class="dropdown icon"></i>
                    <div class="default text">Choisir une nouvelle famille</div>
                    <div class="menu" id="update-famille-membre-select">
                    </div>
                </div>
                <div onclick="modifyFamille();" class="ui teal right labeled icon button">
                    <i class="checkmark icon"></i>
                    Valider
                </div>
            </div>

        </div>
        <div class="actions">
            <div class="ui button">Fermer</div>
        </div>
    </div>

{% endblock %}

{% block js %}

    {% javascripts '@AppBundle/Resources/public/js/editable.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@AppBundle/Resources/public/js/specials/validation_popup_generation.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $('#membre-infos-context .menu .item').tab({
            context: $('#membre-infos-context')
        });

        $('.editable').click(function() {

            editable.init($(this));
        });

        /**
         * permet simplement de cacher le dimmer de l'adresse du membre si celle-ci est vide
         * @param btn le bouton qui a triggeré l'action
         */
        function createAdresse(btn) {

            $(btn).parent().parent().parent().removeClass('active');

        }

        /**
         * Suppression d'attributions ou de distinctions pour le membre donné
         * @param btn le bouton qui a triggeré l'action
         * @param membre l'id du membre
         * @param type 'distinction' ou 'attribution'
         * @param id l'id de l'attribution ou distinction
         */
        function removeAttributionOrDistinction(btn, membre, type, id) {

            if(confirm('Etes-vous sur de vouloir supprimer ça ?')) {
                $.ajax({
                    url: Routing.generate('interne_ajax_membre_remove_attr_dist', {
                        membre: membre,
                        type: type,
                        obj: id
                    }),
                    type: 'GET',
                    success: function () {

                        $(btn).parent().parent().remove();
                    },
                    error: function (data) {
                        //alert('Impossible de supprimer l\'objet');
                        alert(JSON.stringify(data));
                    }
                });
            }
        }

        /**
         * Cette méthode permet de vérifier si un numéro BS est occupé ou non
         * @param numero le numéro à vérifier
         */
        function verifyNumeroBs() {

            var numero = $('#new-numero-bs-input').val();

            $.ajax({
                url: Routing.generate('interne_membre_ajax_verify_numero_bs', {numero:numero}),
                type: 'GET',
                success:function(data) {

                    if(data == true) {
                        $('#button-verify-numero-bs').attr("class", 'ui red right labeled icon button');
                        $('#validate-modf-numero-bs').attr("class", "ui green disabled button");
                    }
                    else {
                        $('#button-verify-numero-bs').attr("class", 'ui green right labeled icon button');
                        $('#validate-modf-numero-bs').attr("class", "ui green button");
                    }
                },
                error:function(data) {
                    alert('Il y a eu une erreur lors de la vérification. Veuillez réessayer plus tard');
                }
            })
        }

        /**
         * Lance la procédure de modification du numéro BS du membre
         * @param membre l'id du membre
         */
        function modifiyNumeroBs(membre) {

            var numero = $('#new-numero-bs-input').val(),
                path = 'membre.' + membre + '.numeroBs';

            $.ajax({

                url: Routing.generate('interne_ajax_app_modify_property', {path:path, value:numero}),
                type: 'GET',
                success:function() {

                    var refresh = confirm('Numéro BS modifié. Actualisez la page pour voir les modifications');
                    if(refresh)
                        location.reload();
                },
                error:function(d) {
                    alert(JSON.stringify(d));
                    //alert("Erreur lors de la modification du numéro BS");
                }
            })
        }

        /**
         * Procédure de modification de la famille. En premier lieu, on récupère l'ensemble des familles pour pouvoir
         * les afficher, puis on affiche la modale
         */
        function modifyFamilleTriggered() {

            $.ajax({
                url: Routing.generate('interne_ajax_get_familles_as_json'),
                type:'POST',
                success:function(data) {

                    var html = '';
                    for (var i = 0; i < data.length; i++)
                        html += '<div class="item" data-value="' + data[i].id + '">' + data[i].nom + '</div>';

                    $('#update-famille-membre-select').html(html);
                    showModal('#membre-edit-famille');
                },

                error:function(data){
                    alert(JSON.stringify(data));
                }
            });
        }

        /**
         * Permet de modifier la famille du membre
         */
        function modifyFamille(){

            var id = {{ membre.id }},
                famille = $('#famille-membre-modif-dropdown').dropdown('get value');

            $.ajax({
                url:Routing.generate('membre_modify_famille', {membre:id, famille:famille}),
                type:'GET',
                success:function(){

                    var reload = confirm("Famille modifiée. Actualisez la page pour voir les modifications");
                    if(reload)
                        location.reload();
                },
                error:function(d){alert(JSON.stringify(d));}
            })
        }

        /**
         * Permet d'ajouter le membre à un listing
         * @param id int l'id du membre
         * @param token string le token de la liste
         * @param btn obj le bouton cliqué
         */
        function addToListing(id, token, btn) {

            listing.addElements(token, id);
            $(btn).firstChild().attr("class", 'ui green empty circular label');
        }

    </script>

{% endblock %}