{% extends "InterneHomeBundle::layout.html.twig" %}

{% form_theme factureForm 'InterneFichierBundle:Form:form_template.html.twig' %}

{% block title %}Créer une facture{% endblock %}




{% block body %}


<div class="row">

    <div class="col-lg-6">
        <form class="form-horizontal" role="form" method="post" {{ form_enctype(factureForm) }}>
            <div class="widget">

                <div class="widget-title">
                    <span>Créer un nouvelle facture</span>
                </div>

                <div class="widget-content">

                    {{ form_start(factureForm) }}



                    {{ form_row(factureForm.titre) }}
                    {{ form_row(factureForm.remarque) }}
                    {{ form_row(factureForm.montantEmis) }}
                    {{ form_row(factureForm.montantRecu) }}
                    {{ form_row(factureForm.statut) }}
                    {{ form_row(factureForm.dateCreation) }}

                    {% include "InterneFactureBundle:Rappel:form.html.twig" with {'form': factureForm.rappels} %}

                    {{ form_rest(factureForm) }}

                    <input type="submit" class="btn btn-primary"/>

                    {{ form_end(factureForm) }}


{#

                    <div class="form-group form-group-sm">
                        {{ form_label(factureForm.rappels) }}
                        <div class="col-sm-8">
                            <div class="well">
                                <div class="rappelPrototype" data-prototype="
                                    {% filter escape %}
                                        <tr>
                                            <td>{{ form(factureForm.rappels.vars.prototype.date) }}</td>
                                            <td>{{ form(factureForm.rappels.vars.prototype.frais) }}
                                            {{ form_rest(factureForm.rappels.vars.prototype) }}</td>

                                        </tr>
                                    {% endfilter %}">

                                    <table class="table table-bordered" id="rappelTable">
                                        <thead>
                                        <tr>
                                            <th>Date de création</th>
                                            <th>Frais de rappel</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for rappel in factureForm.rappels %}
                                            <tr>
                                                <td>{{ form(rappel.date) }}</td>
                                                <td>{{ form(rappel.frais) }}{{ form_rest(rappel) }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <a href="#" class="addRappel">Ajouter un rappel</a>
                                    <a href="#" class="deleteRappel">Supprimer le dernier rappel</a>

                                </div>
                            </div>
                        </div>
                    </div>

#}

                </div>
            </div>
        </form>
    </div>
</div>



{% endblock %}


{% block javascript %}


    <script type="text/javascript">

        // Récupère le div qui contient la collection de rappel et le prototype de formulaire
        var collectionHolder = $('div.rappelPrototype');

        // ajoute des liens de gestions
        var $addLink = $('.addRappel');
        var $rappelTable = $('#rappelTable');
        var $deleteLink = $('.deleteRappel');

        jQuery(document).ready(function() {

            $addLink.on('click', function(e) {
                // empêche le lien de créer un « # » dans l'URL
                e.preventDefault();

                // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
                //addTagForm(collectionHolder, $newLinkLi);
                var prototype = collectionHolder.attr('data-prototype');
                var newForm = prototype.replace(/__name__/g, $('#rappelTable > tbody > tr').length);

                //action diffrente si la table et vide ou non
                if($('tbody > tbody > tr',$rappelTable).length == 0)
                {
                    $('tbody', $rappelTable).append(newForm);
                }
                else
                {
                    $('tbody tr:last', $rappelTable).after(newForm);
                }
            });

            $deleteLink.on('click', function(e) {
                // empêche le lien de créer un « # » dans l'URL
                e.preventDefault();

                //On supprime le dernier element de la table

                $('tbody tr:last', $rappelTable).remove();

            });

        });


    </script>





{% endblock %}

