{% extends "AppBundle:Layout:layout.html.twig" %}


{% block titre %}Saisie de payement{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="eight wide column">

                <div class="ui segment">
                    <h3 class="header">
                        Saisie manuelle

                    </h3>


                    {% include  "InterneFinancesBundle:Payement:addForm.html.twig" with {'formMultiple': formMultiple} %}

                </div>


            </div>

            <div class="eight wide column">

                <div class="ui segment">
                    <h3 class="header">
                        Chargement de ficher
                    </h3>


                    {{ form_start(formUpload, {'attr': {'class': 'ui form'}}) }}


                    {{ form_widget(formUpload.file) }}


                    {{ form_widget(formUpload.Charger, {'attr': {'class': 'ui blue button'}}) }}

                    {{ form_rest(formUpload) }}


                    {{ form_end(formUpload) }}

                    {% set extensions = formUpload.file.vars.attr.accept|split(',') %}

                    Les extentions de fichiers autorisées sont:

                    {% for extension in extensions %}
                        <div class="ui label">
                            *{{ extension }}
                        </div>
                    {% endfor %}




                </div>


            </div>

        </div>
    </div>



{% endblock %}

{% block js %}


    {% javascripts
    '@InterneFinancesBundle/Resources/public/js/model/*'
    '@InterneFinancesBundle/Resources/public/js/event_catcher.js'
    '@InterneFinancesBundle/Resources/public/js/page_saisie.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}