{% extends 'AppBundle:Layout:layout.html.twig' %}

{% import _self as macros %}

{% block titre %}Liste des roles{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="column">
            <div class="row">

                {{ macros.printRoles(rootRoles) }}


            </div>
        </div>
    </div>


{% endblock %}


{% macro printRoles(roles) %}
    <ul>
        {% for role in roles %}
            <li>{{ role.role }} - {{ role.name }} - {{ role.description }}</li>

            {{ _self.printRoles(role.enfants) }}

        {% endfor %}

    </ul>
{% endmacro %}