
{% form_theme form 'AppBundle:Form:form_search_accordion.html.twig' %}

{% form_theme form.mode 'AppBundle:Form:default_widgets.html.twig' %}


 {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
<div class="ui top attached message">
    <h4 class="ui header">Recherche de payement</h4>
</div>

<div class="ui bottom attached segment">


    <div class="ui grid">
        <div class="eight wide column">
            {{ form_row(form.idFacture) }}
            {{ form_row(form.intervalMontantRecu) }}
            {{ form_row(form.intervalDate) }}

        </div>
        <div class="eight wide column">
            {{ form_row(form.validated) }}
            {{ form_row(form.state) }}


        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid">
        <div class="eight wide column">
            {{ form_row(form.mode) }}
        </div>
        <div class="eight wide right aligned column">
            <input type="submit" value="Rechercher" class="ui blue submit button">
        </div>
    </div>

    {{ form_rest(form) }}


</div>

{{ form_end(form) }}

