<div class="ui small modal" aria-hidden="true">
    <div class="header">Détail du payement</div>
    <div class="content">


        <table class="ui definition table">
            <tbody>
            <tr>
                <td>N° de réf.</td>
                <td>
                    {{ payement.idFacture }}
                </td>
            </tr>
            <tr>
                <td>Date de récéption</td>
                <td>
                    {{ payement.date|date(global_date_format) }}
                </td>
            </tr>
            <tr>
                <td>Montant reçu</td>
                <td>
                    {{ payement.montantRecu|money }}
                </td>
            </tr>
            <tr>
                <td>Etat</td>
                <td>
                        <i class="{{ payement.state|payement_state_color}}  {{ payement.state|payement_state_icon}} icon"></i>
                        {{ payement.state|payement_state_text}}

                </td>
            </tr>
            <tr>
                <td>Facture</td>
                <td>
                    {% if payement.facture is not null %}
                    N°{{ payement.facture.id }}
                    <a onclick="showFacture({{ payement.facture.id }});" >
                        <i class="zoom icon"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>

            </tbody>
        </table>


    </div>
    <div class="actions"></div>
</div>