{% extends 'AppBundle:Templates:modal_small.html.twig' %}

{% block header %}
    Détail du payement {{ payement|payement_validation|raw }}
{% endblock %}

{% block content %}
    <table class="ui definition table">
        <tbody>
        <tr>
            <td>N° de réf.</td>
            <td>
                {{ payement.idFacture }}
            </td>
        </tr>
        <tr>
            <td>Date de récéption</td>
            <td>
                {{ payement.date|date(global_date_format) }}
            </td>
        </tr>
        <tr>
            <td>Montant reçu</td>
            <td>
                {{ payement.montantRecu|money }}
            </td>
        </tr>
        <tr>
            <td>Etat</td>
            <td>
                {{ payement|payement_state_detail|raw}}
            </td>
        </tr>
        <tr>
            <td>Facture</td>
            <td>
                {% if payement.facture is not null %}
                    N°{{ payement.facture.id }}
                    {{ modal_caller('<i class="zoom blue icon"></i>',path('app_facture_show',{'facture':payement.facture.id})) }}
                {% endif %}
            </td>
        </tr>

        </tbody>
    </table>
{% endblock %}
