{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block titre %}Validation{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="column">
            <h1>Gestion des modifications et validation</h1>

            <div class="ui segment">
                <h3>Eléments modifiés</h3>

                <table class="ui table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Nombre</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for container in containers %}
                            <tr class="container-row" data-id="{{ container.id }}">
                                <td>{{ container.class }}</td>
                                <td>{{ container.modifications|length }}</td>
                                <td>
                                    <a href="{{ path('validation_cancel_container', {container: container.id}) }}" class="ui circular mini icon red button popupable" data-content="Tout Supprimer"><i class="remove icon"></i></a>
                                    <a href="{{ path('validation_approve_container', {container: container.id}) }}" class="ui circular mini icon green button popupable" data-content="Tout valider"><i class="checkmark icon"></i></a>
                                </td>
                            </tr>
                            <tr class="hidden-tr">
                                <td colspan="3">
                                    <h4>Modifications liées</h4>
                                    <table class="ui stripped table">
                                        <thead>
                                            <tr>
                                                <th>Cheminement</th>
                                                <th>Date</th>
                                                <th>Modificateur</th>
                                                <th>Ancienne valeur</th>
                                                <th>Nouvelle valeur</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for modif in container.modifications %}
                                            <tr id="{{ modif.id }}">
                                                <td>{{ modif.path }}</td>
                                                <td>{{ modif.date|date('d.m.Y') }}</td>
                                                <td></td>
                                                <td>{{ modif.oldValue|parser('default') }}</td>
                                                <td>{{ modif.newValue|parser('default') }}</td>
                                                <td id="actions">
                                                    <a id="modification_reject" class="ui circular mini icon red button popupable"><i class="remove icon"></i></a>
                                                    <a id="modification_accept" class="ui circular mini icon green button popupable"><i class="checkmark icon"></i></a>
                                                    <a id="modification_pending" class="ui mini popupable" style="visibility:hidden"><i class="circle notched loading icon"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h3>Eléments ajoutés</h3>

            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script type="text/javascript">
        $('.container-row').click(function() {

            $(this).toggleClass('selected');
            $(this).next().toggle();
        });

        /* Accept modification */
        $('#modification_accept').click(function() {

            $(this).parent().children('#modification_pending').attr("style", "");
            var row = $(this).closest('tr');
            var id = row.attr('id');

            $.ajax({
                url: Routing.generate('validation_ajax_approve_modification', {modification: id }),
                type: 'GET',
                success: function(data) {
                    row.remove();
                    alerte.send("Modification approuvée", 'info', 2000);
                },
                error: function(data) {
                    alerte.send("Erreur lors de l'approbation, essayez d'actualiser la page et réessayez.", 'error');
                    row.children('#modification_pending').attr("style", "visibility:hidden");
                }
            });

        });

        /* Reject modification */
        {#href="{{ path('validation_ajax_cancel_modification', {modification:modif.id}) }}"#}
        $('#modification_reject').click(function() {

            $(this).parent().children('#modification_pending').attr("style", "");
            var row = $(this).closest('tr');
            var id = row.attr('id');

            $.ajax({
                url: Routing.generate('validation_ajax_cancel_modification', {modification: id }),
                type: 'GET',
                success: function(data) {
                    row.remove();
                    alerte.send("Modification rejetée", 'info', 2000);
                },
                error: function(data) {
                    alerte.send("Erreur lors du rejet, essayez d'actualiser la page et réessayez.", 'error');
                    row.children('#modification_pending').attr("style", "visibility:hidden");
                }
            });
        });
    </script>

{% endblock %}