{% extends 'AppBundle:Layout:layout.html.twig' %}



{% block titre %}
    {{ membre.prenom }} {{ membre.nom }}
{% endblock %}

{% form_theme membreForm       ':Templates/Form:ajax_edit.html.twig' %}


{% block content %}
<div class="ui page grid">
    <div class="column">

    <div class="ui close right rail">
        <div class="ui sticky fixed top">
            <div id="page-menu" class="ui secondary vertical following fluid menu">
                <a class="item" href="#membre">{{ membre.prenom|capitalize }} {{ membre.nom|capitalize }}</a>
                <a class="item" href="#infos-membre">Informations</a>
                <a class="item" href="#contact">Contact</a>
                <a class="item" href="#infos-scout">Information scouts</a>
                <a class="item" href="#finances">Factures & créances</a>
            </div>
        </div>
    </div>


    <h1>{{ membre.prenom|capitalize }} {{ membre.nom|capitalize }}<a class="anchor" id="membre"></a></h1>



    <h2>Information sur le membre<a class="anchor" id="infos-membre"></a></h2>
    <div class="row ui segment">

        {% include "AppBundle:Membre:voir_infos_membre.html.twig" with {'membreForm':membreForm, 'membre':membre, } %}

    </div>

    <h2>Contact<a class="anchor" id="contact"></a></h2>
    <div class="row ui segment">

        {% include "AppBundle:Contact:voir_contact_membre.html.twig" with {'membreForm':membreForm, 'membre':membre, } %}

    </div>

    <h2>Informations scouts<a class="anchor" id="infos-scout"></a></h2>
    <div class="row ui segment">

        {% include "AppBundle:Membre:voir_infos_scouts.html.twig" with {'membre':membre, } %}

    </div>

    <h2>Factures et créances<a class="anchor" id="finances"></a></h2>
    <div class="row ui segment">

        {% include "InterneFinancesBundle:Interface:interface.html.twig" with {'ownerEntity': membre }%}

    </div>
    </div>
</div>



{% endblock %}

{% block js %}


    {# javscript pour l'interface du finance Bundle #}
    {% javascripts
    '@InterneFinancesBundle/Resources/public/js/creance.js'
    '@InterneFinancesBundle/Resources/public/js/facture.js'
    '@InterneFinancesBundle/Resources/public/js/rappel.js'
    '@InterneFinancesBundle/Resources/public/js/page_interface.js'
    '@InterneFinancesBundle/Resources/public/js/event_catcher.js'
    '@InterneFinancesBundle/Resources/public/js/liste.js'%}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}




    {% javascripts
    '@AppBundle/Resources/public/js/editable.js'
    '@AppBundle/Resources/public/js/specials/validation_popup_generation.js'
    '@AppBundle/Resources/public/js/Membre/page_voir_membre.js'
    '@AppBundle/Resources/public/js/Contact/contact_form.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}




{% endblock %}

