{% extends 'AppBundle:Layout:layout.html.twig' %}

{% import 'AppBundle:Macros:attribution_macro.html.twig' as attrsMacros %}

{% block titre %}
    {{ membre.prenom }} {{ membre.nom }}
{% endblock %}

{% form_theme membreForm ':Templates/Form:ajax_edit.html.twig' %}


{% block content %}

    <div class="ui page grid">
        <div class="column">

            <div class="ui info attached icon message">
                <i class="user icon"></i>
                <div class="content">
                    <div class="header">
                        <h2 class="ui header">{{ membre.prenom|capitalize }} <a href="{{ path('interne_voir_famille',{'famille': membre.famille.id }) }}">{{ membre.nom|capitalize }}</a></h2>
                    </div>
                    <p>{{ membre.activeAttribution.fonction.nom }} - {{ membre.activeAttribution.groupe.nom }}</p>
                </div>
            </div>
            <div class="ui attached segment">

                <div class="ui grid">

                    <div class="two column row"> <!-- informations de base -->

                        <div class="column">

                            <h4 class="ui header">Informations de base</h4>
                            <div class="bs ajax-input">
                                <label>Prénom</label>
                                <input value="{{ membre.prenom }}" type="text">
                            </div>
                            <div class="bs ajax-input">
                                <label>Sexe</label>
                                <select>
                                    <option>Homme</option>
                                    <option>Femme</option>
                                </select>
                            </div>
                        </div>

                        <div class="column">
                            <h4 class="ui header">Sa famille</h4>
                        </div>
                    </div> <!-- /informations de base -->

                    <div class="one column row">
                        <h3 class="ui horizontal divider">
                            Aux scouts
                        </h3>
                    </div>

                    <div class="row"> <!-- attributions et distinctions -->

                        <div class="five wide column">

                            <h4 class="ui header">Distinctions</h4>

                            <table class="ui small very basic table">
                                <thead>
                                    <tr>
                                        <th>Distinction</th>
                                        <th>Obtention</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for distinction in membre.distinctions %}
                                        <tr>
                                            <td>{{ distinction.distinction.nom }}</td>
                                            <td>{{ distinction.date|date("d.m.Y") }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="eleven wide column">
                            <h4 class="ui header">Attributions</h4>

                            <table class="ui small very basic table">
                                <thead>
                                <tr>
                                    <th>Fonction</th>
                                    <th>Unité</th>
                                    <th>Début</th>
                                    <th>Fin</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for attribution in membre.attributions %}
                                    <tr style="{{ attrsMacros.generateBackground(attribution.dateDebut, attribution.dateFin) }}">
                                        <td>{{ attribution.fonction.nom }}</td>
                                        <td>{{ attribution.groupe.nom}}</td>
                                        <td>{{ attribution.dateDebut|date("d.m.Y") }}</td>
                                        <td>{{ attribution.dateFin|date("d.m.Y") }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div> <!-- /attributions et distinctions -->

                </div>

            </div>

        </div>
    </div>



{% endblock %}


{% block css %}
    {% stylesheets '@AppBundle/Resources/public/css/Membre/membre.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block js %}

    {# javscript pour l'interface du finance Bundle
    {% javascripts
    '@InterneFinancesBundle/Resources/public/js/creance.js'
    '@InterneFinancesBundle/Resources/public/js/facture.js'
    '@InterneFinancesBundle/Resources/public/js/rappel.js'
    '@InterneFinancesBundle/Resources/public/js/page_interface.js'
    '@InterneFinancesBundle/Resources/public/js/event_catcher.js'
    '@InterneFinancesBundle/Resources/public/js/liste.js'%}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}




    {% javascripts
    '@AppBundle/Resources/public/js/editable.js'
    '@AppBundle/Resources/public/js/specials/validation_popup_generation.js'
    '@AppBundle/Resources/public/js/Membre/page_voir_membre.js'
    '@AppBundle/Resources/public/js/Contact/contact_form.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


#}

{% endblock %}

