{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block titre %}
    {{ membre.prenom }} {{ membre.nom }}
{% endblock %}

{% form_theme membreForm 'AppBundle:Form:xeditable_widgets.html.twig' %}


{% block content %}

    <div class="ui page grid">
        <div class="column">

            <div class="ui grid">

                <div class="row">

                    <div class="twelve wide column">
                        <h2 class="ui header">
                            <i class="user icon"></i>
                            <div class="content">
                                {{ membre.prenom|capitalize }} {{ membre.nom|capitalize }}
                                <div class="sub header">
                                    {% if membre.hasActiveAttributions %}
                                        {{ membre.activeAttribution.fonction.nom }} - {{ membre.activeAttribution.groupe.nom|capitalize }}
                                    {% else %}
                                        Aucune attribution courrante...
                                    {% endif %}
                                </div>
                            </div>
                        </h2>
                    </div>

                    <div class="four wide right aligned column">
                        <div class="icon ui buttons">
                            <div class="ui mini blue basic top left pointing icon dropdown button">
                                <i class="download layout icon"></i>

                                <div class="menu">
                                    <div class="item">
                                        <a href="{{ path('app_membre_topdf', {membre: membre.id}) }}">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="icon ui buttons">
                            {% include 'AppBundle:Listing:listing_single_button.html.twig' with {'membre' : membre} %}
                        </div>
                    </div>

                </div>

                <div class="row"> <!-- informations de base -->

                    <div class="eight wide column">

                        <div class="ui attached message">
                            <div class="header"><h3><i class="info icon"></i>Informations</h3></div>
                        </div>

                        <div class="ui bottom attached segment">

                            {# Informations de base sur le membre #}
                            {{ form_row(membreForm.prenom) }}
                            {{ form_row(membreForm.naissance) }}
                            {{ form_row(membreForm.sexe) }}
                            {{ form_row(membreForm.numeroAvs) }}

                            <div class="ui divider"></div>

                            {{ form_row(membreForm.numeroBs) }}
                            {{ form_row(membreForm.statut) }}

                        </div>

                        <div class="ui top attached message">
                            <div class="header"><h3><i class="fax icon"></i>Contact</h3></div>
                        </div>

                        <div class="ui bottom attached segment">

                            <div class="ui pointing secondary tabular menu">
                                <a class="active item" data-tab="adresse-{{ membre.prenom }}">Adresse</a>
                                <a class="item" data-tab="contact-{{ membre.prenom }}">Téléphone et mail</a>
                            </div>

                            <div class="ui active tab basic segment" data-tab="adresse-{{ membre.prenom }}">
                                <div class="ui small info message">

                                    {% set    ae = membre.adresseExpedition %}
                                    {% if     ae != null %}
                                        {% set    ownerEntity = ae['ownerEntity'] %}
                                        {% set    lf = '<a href="' ~path('app_famille_show', {'famille': membre.famille.id}) ~ '">' %}

                                        {% if     ownerEntity.className == class_name_membre %}
                                            {% set aeowner = 'la sienne' %}
                                        {% elseif ownerEntity.className == class_name_famille %}
                                            {% set aeowner = lf ~ 'celle de sa famille</a>' %}
                                        {% elseif ownerEntity.className == class_name_mere %}
                                            {% set aeowner = lf ~ 'celle de sa mère</a>' %}
                                        {% elseif ownerEntity.className == class_name_pere %}
                                            {% set aeowner = lf ~ 'celle de son père</a>' %}
                                        {% else %}
                                            {% set aeowner = ', aucune idée en vrai.' %}
                                        {% endif %}
                                    <div class="content">Actuellement, l'adresse de facturation de ce membre est <b>{{ aeowner|raw }}</b></div>
                                    {% endif %}
                                </div>

                                {{ form_row(membreForm.contact.adresse.rue) }}
                                {{ form_row(membreForm.contact.adresse.npa) }}
                                {{ form_row(membreForm.contact.adresse.localite) }}
                                {{ form_row(membreForm.contact.adresse.expediable) }}
                                {{ form_row(membreForm.contact.adresse.remarques) }}
                            </div>


                            <div class="ui tab basic segment" data-tab="contact-{{ membre.prenom }}">

                                <h5 class="ui header">Téléphone(s) - <a href="#" class="button-add-telephone" data-contact-id="{{ membre.contact.id }}">ajouter</a></h5>
                                {% include 'AppBundle:Contact:list_phone_mail.html.twig' with {'type' : 'telephone', 'data' : membreForm.contact.telephones} %}

                                <div class="ui divider"></div>
                                <h5 class="ui header">E-mail(s) - <a href="#" class="button-add-email" data-contact-id="{{ membre.contact.id }}">ajouter</a></h5>
                                {% include 'AppBundle:Contact:list_phone_mail.html.twig' with {'type' : 'email', 'data' : membreForm.contact.emails} %}
                            </div>

                        </div>

                    </div>

                    <div class="eight wide column">     <!-- informations famille -->

                        <div class="ui top attached message">
                            <div class="header"><h3><i class="users icon"></i><a href="{{ path('app_famille_show', {famille: membre.famille.id}) }}">Famille</a></h3></div>
                        </div>

                        <div class="ui bottom attached segment">
                            <div class="ui list">
                                {% include 'AppBundle:Contact:show.html.twig' with {'contact' : membre.famille.contact} %}
                            </div>
                        </div>

                        <div class="ui top attached message">
                            <div class="header"><h3><i class="child icon"></i>Frères et soeurs</h3></div>
                        </div>

                        <div class="ui bottom attached segment">
                            {{ list_caller.MembreFraterie(membre)|raw }}
                        </div>

                    </div> <!-- /informations famille -->
                </div> <!-- /informations de base -->
            </div>
            <div class="ui grid">

                <div class="row"> <!-- attributions et distinctions -->

                    <div class="eleven wide column">

                        <div class="ui top attached message">
                            <div class="header">
                                <h3><i class="tags icon"></i>Roles dans la brigade</h3>
                            </div>
                        </div>

                        <div class="ui bottom attached segment">
                            {{ list_caller.MembreAttributions(membre)|raw }}
                        </div>
                    </div>

                    <div class="five wide column">

                        <div class="ui top attached message">
                            <div class="header">
                                <h3><i class="star icon"></i>Distinctions</h3>
                            </div>
                        </div>

                        <div class="ui bottom attached segment">
                            {{ list_caller.MembreDistinctions(membre)|raw }}
                        </div>

                    </div>

                </div> <!-- /attributions et distinctions -->

                <div class="row">
                    <div class="column">
                        <div class="ui top attached message">
                            <div class="header">
                                <div class="ui grid">
                                    <div class="ten wide column"><h3><i class="money icon"></i>Créances et factures</h3></div>
                                    <div class="six wide column">{{ form_row(membreForm.envoiFacture) }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="ui bottom attached segment">
                            {{ render(controller('AppBundle:Debiteur:show', { 'debiteur': membre.debiteur.id })) }}
                        </div>
                    </div>
                </div>

                <div class="row"> <!-- envois -->
                    <div class="column">
                        <div class="ui top attached message">
                            <div class="header"><h3><i class="send icon"></i>Envois
                                    - {{ modal_caller('<a>ajouter</a>',path('app_mail_addtoreceiver',{'receiver':membre.receiver.id})) }}
                                </h3></div>
                        </div>

                        <div class="ui bottom attached segment">
                            {{ render(controller('AppBundle:Receiver:show', { 'receiver': membre.receiver.id })) }}
                        </div>
                    </div>
                </div> <!-- envois -->

                <div class="row"> <!-- history -->
                    <div class="sixteen wide column">
                        <div class="ui top attached message">
                            <div class="header"><h3><i class="wait icon"></i>Historique</h3></div>
                        </div>

                        <div class="ui bottom attached segment">
                            {% include 'AppBundle:Membre:history.html.twig' %}
                        </div>
                    </div>
                </div> <!-- history -->

            </div>
        </div>
    </div>

{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/Membre/membre.css') }}"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/Membre/page_voir_membre.js') }}"></script>
{% endblock %}

