{% block titre %}
    {{ membre.prenom }} {{ membre.nom }}
{% endblock %}


{% block content %}

    <div class="ui page grid">
        <div class="column">

            <div class="ui grid">

                <div class="row">

                    <div class="twelve wide column">
                        <div class="ui header">
                            <i class="user icon"></i>

                            <div class="content">
                                <h2>{{ membre.prenom|capitalize }} {{ membre.nom|capitalize }}</h2>

                                <div class="sub header">{{ membre.activeAttribution.fonction.nom }}
                                    - {{ membre.activeAttribution.groupe.nom|capitalize }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="four wide right aligned column">
                        <div class="icon ui buttons">
                            {% include 'AppBundle:Listing:listing_single_button.html.twig' with {'membre' : membre} %}
                        </div>
                    </div>

                </div>

                <div class="row"> <!-- informations de base -->

                    <div class="eight wide column">

                        <div class="ui attached message">
                            <div class="header"><h3><i class="info icon"></i>Informations</h3></div>
                        </div>

                        <div class="ui bottom attached segment">


                            <div class="ui divider"></div>


                        </div>

                        <div class="ui top attached message">
                            <div class="header"><h3><i class="fax icon"></i>Contact</h3></div>
                        </div>

                        <div class="ui bottom attached segment">

                            <div class="ui pointing secondary tabular menu">
                                <a class="active item" data-tab="adresse-{{ membre.prenom }}">Adresse</a>
                                <a class="item" data-tab="contact-{{ membre.prenom }}">Téléphone et mail</a>
                            </div>

                            <div class="ui active tab basic segment" data-tab="adresse-{{ membre.prenom }}">
                                <div class="ui small info message">


                                </div>

                            </div>


                            <div class="ui tab basic segment" data-tab="contact-{{ membre.prenom }}">

                                <h5 class="ui header">Téléphone(s) - <a href="#" class="button-add-telephone"
                                                                        data-contact-id="{{ membre.contact.id }}">ajouter</a>
                                </h5>

                                <div class="ui divider"></div>
                                <h5 class="ui header">E-mail(s) - <a href="#" class="button-add-email"
                                                                     data-contact-id="{{ membre.contact.id }}">ajouter</a>
                                </h5>
                            </div>

                        </div>

                    </div>

                    <div class="eight wide column">     <!-- informations famille -->

                        <div class="ui top attached message">
                            <div class="header"><h3><i class="users icon"></i>Famille</h3></div>
                        </div>


                        <div class="ui top attached message">
                            <div class="header"><h3><i class="child icon"></i>Frères et soeurs</h3></div>
                        </div>

                    </div>
                    <!-- /informations famille -->
                </div>
                <!-- /informations de base -->
            </div>
            <div class="ui grid">

                <div class="row"> <!-- attributions et distinctions -->

                    <div class="eleven wide column">

                        <div class="ui top attached message">
                            <div class="header">
                                <h3><i class="tags icon"></i>Roles dans la brigade - <a href="#"
                                                                                        id="ajouter-attribution"
                                                                                        data-membre-id="{{ membre.id }}">ajouter</a>
                                </h3>
                            </div>
                        </div>

                    </div>

                    <div class="five wide column">

                        <div class="ui top attached message">
                            <div class="header">
                                <h3><i class="star icon"></i>Distinctions - <a href="#" id="ajouter-distinction"
                                                                               data-membre-id="{{ membre.id }}">ajouter</a>
                                </h3>
                            </div>
                        </div>


                    </div>

                </div>
                <!-- /attributions et distinctions -->

                <div class="row">
                    <div class="column">
                        <div class="ui top attached message">
                            <div class="header"><h3><i class="money icon"></i>Créances et factures</h3></div>
                        </div>


                    </div>
                </div>

                <div class="row"> <!-- history -->
                    <div class="sixteen wide column">
                        <div class="ui top attached message">
                            <div class="header"><h3><i class="wait icon"></i>Historique</h3></div>
                        </div>

                    </div>
                </div>
                <!-- history -->

            </div>
        </div>
    </div>
    {#
        <!-- La modale pour ajouter un téléphone -->
        {{ render(controller('AppBundle:Contact:renderModalTelephone')) }}

        <!-- et celle pour ajouter un email -->
        {{ render(controller('AppBundle:Contact:renderModalEmail')) }}
    #}

{% endblock %}


{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/Layout/layout.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/Membre/membre.css') }}"/>
{% endblock %}

