<div class="ui grid">
    <div class="row">
        <div class="six wide column">

            <table class="ui definition small table bs-tab-membre">

                <tbody>

                {{ form_row(membreForm.prenom) }}
                {{ form_row(membreForm.naissance) }}
                {{ form_row(membreForm.sexe) }}

                </tbody>
            </table>


            <table class="ui definition small table bs-tab-membre">
                <tbody>

                {{ form_row(membreForm.numeroBs) }}
                {{ form_row(membreForm.inscription) }}
                {{ form_row(membreForm.statut) }}
                {{ form_row(membreForm.envoiFacture) }}

                </tbody>
            </table>

            <table class="ui definition small table bs-tab-membre">
                <tbody>

                {{ form_row(membreForm.numeroAvs) }}
                {{ form_row(membreForm.iban) }}
                {{ form_row(membreForm.remarques) }}

                </tbody>
            </table>

        </div>

        <div class="ten wide column">
            {% include "AppBundle:Attribution:listeAttributionActuel.html.twig" with {'attributions':membre.attributions} %}
            <div id="ajouter-attribution" data-idMembre="{{ membre.id }}" class="ui button">Ajouter</div>

            {% include "AppBundle:ObtentionDistinction:listeObtentionDistinction.html.twig" with {'distinctions': membre.distinctions } %}
            <div id="ajouter-distinction" data-idMembre="{{ membre.id }}" class="ui button">Ajouter</div>

        </div>

    </div>
</div>



