<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Connection | netBS</title>
    <meta name="description" content="Outil de gestion de groupe scout développé par la Brigade de Sauvabelin">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <style>
        *
        {
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family:calibri, arial;
        }

        body
        {
            background:lightgrey;
        }

        form
        {
            width:300px;
            margin:100px auto 0 auto;
            background:white;
            box-shadow:0 0 10px rgb(100,100,100);
            border-radius:2px;
            overflow:hidden;
        }

        form header
        {
            width:300px;
            height:100px;
            padding:10px;
            background-color: rgb(26, 7, 69);
        }

        header img
        {
            display:block;
            width:60px;
            height:70px;
            margin:auto;
        }

        form #title
        {
            margin:20px auto 10px auto;
            text-align:center;
            color:rgb(200,200,200);

        }

        form #inputs
        {
            padding:10px;
        }

        form input
        {
            width:100%;
            padding:10px;
            border:1px solid rgb(200,200,200);
            border-radius:2px;
            background:white;
            margin-bottom:10px;
        }

        form button
        {
            width:100%;
            padding:10px;
            border:none;
            border-radius:50px;
            background: #00b7b7;
            color:white;
            font-size:16px;
        }

        form button:hover
        {
            background: #00e7e7;
        }

        #error
        {
            color:red;
            text-align:center;
            margin:10px 0 10px 0;
        }




    </style>
</head>

<body>

    <form action="{{ path('login_check') }}" method="post">

        <header>
            {% if parametreService.exist('group_logo') %}
                <img src="{{ parametreService.get('group_logo') }}" alt="Logo">
            {% endif %}
        </header>

        <p id="title">{{ parametreService.get('app_name') }} | Connection</p>
        <div id="inputs">
            <input type="text" id="username" placeholder="username" name="_username" value="{{ last_username }}" />
            <input type="password" placeholder="mot de passe" id="password" name="_password" />

            <button>connection</button>
            {% if error %}
                <p id="error">{{ error.message }}</p>
            {% endif %}
        </div>
    </form>

</body>
</html>