{% extends "layout.html.twig" %}



{% block titre %}Parametres{% endblock %}


{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="column">



                <span>Liste des parametres</span>


                <table class="ui table">
                    <thead>
                        <tr>
                            <th>Nom du parametre</th>
                            <th>Valeur</th>


                        </tr>


                    </thead>
                    <tbody>
                            {% for parametre in parametres %}
                                <tr>
                                    <td>
                                        {{ parametre.labelName}}
                                    </td>
                                    <td>
                                        {% if parametre.type == 'string' %}
                                            <input type="text"
                                                   id="{{ parametre.name }} "
                                                   data-id="{{ parametre.id }}"
                                                   data-type="{{ parametre.type }}"
                                                   class="formParametre"
                                                   value="{{ parametre.string}}">
                                        {% elseif parametre.type == 'number'%}
                                            <input type="number"
                                                   id="{{ parametre.name }} "
                                                   data-id="{{ parametre.id }}"
                                                   data-type="{{ parametre.type }}"
                                                   class="formParametre"
                                                   value="{{ parametre.number}}">
                                        {% elseif parametre.type == 'text'%}
                                            {%  spaceless %}
                                            <textarea
                                                   id="{{ parametre.name }} "
                                                   data-id="{{ parametre.id }}"
                                                   data-type="{{ parametre.type }}"
                                                   class="formParametre">{{ parametre.text}}</textarea>
                                            {% endspaceless %}
                                        {% elseif parametre.type == 'choice'%}
                                            <select
                                                   id="{{ parametre.name }} "
                                                   data-id="{{ parametre.id }}"
                                                   data-type="{{ parametre.type }}"
                                                   class="formParametre"
                                                   value="{{ parametre.choice}}">
                                                    <option></option>
                                                    {% for choice in parametre.choices %}
                                                        <option
                                                            {% if choice == parametre.choice %}
                                                                selected="selected"
                                                            {% endif %}
                                                            >{{ choice }}</option>
                                                    {% endfor %}
                                                </select>
                                        {% endif%}
                                    </td>
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>


        </div>
    </div>
</div>



{% endblock %}

{% block js %}
    <script type="text/javascript">

    /*
    * Cette fonction a pour but de faire des modifications en ajax sur les parametres.
    */
    $('.formParametre').change(function() {

        var value = $(this).val();
        var id = $(this).data('id');
        var type = $(this).data('type');
        var data = { id: id, value: value, type:type};
        $.ajax({
            type: "POST",
            url: Routing.generate('interne_parametre_update_ajax'),
            data: data,
            error: function(jqXHR, textStatus, errorThrown) { alerte.send('Erreur','danger'); },
            success: function(htmlResponse) {
                alerte.send('Modification effectuée','success',2000);
            }
        });
    });

    </script>


{% endblock %}


