{% extends 'InterneGalerieBundle:Public:galerie_layout.html.twig' %}

{% block titre %}{{ album.nom }}{% endblock %}

{% block css %}

    {% stylesheets '@InterneGalerieBundle/Resources/public/css/lightbox.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="column">
            <h1 style="margin-top:40px;">{{ album.nom }}</h1>

            <div class="ui segment">

                {% include 'InterneGalerieBundle:Public/Basics:breadcrumb.html.twig' with {dossier : album.dossier} %}

                <div class="ui divider"></div>


                {% if album.photos|length > 0 %}
                <div class="ui grid">
                    <div class="doubling six column row">

                        {% for photo in album.photos %}

                            <div class="column photo">

                                <a href="{{ asset(photo.webPath) }}" data-lightbox="album-{{ album.id }}" data-title="Ajoutée le {{ photo.dateAjout|date('d.m.Y') }} - code : {{ photo.nom }}" class="image">
                                    <img src="{{ asset(photo.thumbnailPath) }}" />
                                </a>

                            </div>

                        {% endfor %}

                    </div>
                </div>
                {% else %}
                <div class="ui info message">
                    <div class="content">Aucune photo pour l'instant !</div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    {% javascripts '@InterneGalerieBundle/Resources/public/js/lightbox.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}