{% form_theme searchForm 'InterneFinancesBundle:Templates:form_template.html.twig' %}

{% import 'InterneFinancesBundle:Templates:form_macro.html.twig' as macros %}

<div class="ui fullscreen modal" id="modal-display" aria-hidden="true">

    <div class="header">
    Effectuer une recherche
</div>

    <div class="content">
    {{ form_start(searchForm, {'attr': {'id': 'searchForm'}}) }}

    <script>
        $('#searchFactureFormMessage').hide();
        $('#linkedToFacture').change(function(){
            var value = $(this).find('select option:selected').val();
            if(value == 'no')
            {
                //on cache le formulaire des factures
                $('#searchFactureFormMessage').hide();
                $('#searchFactureForm').hide();
                $('#searchFactureFormMessage').show();

            }
            else
            {
                $('#searchFactureFormMessage').hide();
                $('#searchFactureForm').hide();
                $('#searchFactureForm').show();
            }
        });
    </script>


        <div class="ui grid">
            <div class="row">

                <div class="five wide column">
                    <div class="ui form segment">
                        <div class="field">
                            <h4 class="ui dividing header">Créance</h4>

                            <div id="linkedToFacture">
                                {{ form_row(searchForm.creance.isLinkedToFacture) }}
                            </div>



                            {{ form_row(searchForm.creance.titre) }}

                            {{ macros.input_number_switch(searchForm.creance.montantEmis, searchForm.creance.montantEmisMinimum, searchForm.creance.montantEmisMaximum) }}

                            {{ macros.input_number_switch(searchForm.creance.montantRecu, searchForm.creance.montantRecuMinimum, searchForm.creance.montantRecuMaximum) }}

                            {{ macros.input_date_switch(searchForm.creance.dateCreation, searchForm.creance.dateCreationMinimum, searchForm.creance.dateCreationMaximum) }}



                            {{ form_row(searchForm.creance.remarque) }}
                        </div>
                    </div>
                </div>
                <div class="five wide column">



                    <div class="ui form segment" >

                        <div class="ui message warning" id="searchFactureFormMessage" >
                            Les critères de recherche sur les factures n'ont pas d'effet
                            si la recherche des créances porte sur les créances "en attente de facturation".
                        </div>


                        <div class="field" id="searchFactureForm">
                            <h4 class="ui dividing header">Facture</h4>



                            {{ form_row(searchForm.facture.id) }}
                            {{ form_row(searchForm.facture.statut) }}

                            {{ macros.input_number_switch(searchForm.facture.montantEmis, searchForm.facture.montantEmisMinimum, searchForm.facture.montantEmisMaximum) }}

                            {{ macros.input_number_switch(searchForm.facture.montantRecu, searchForm.facture.montantRecuMinimum, searchForm.facture.montantRecuMaximum) }}

                            {{ macros.input_date_switch(searchForm.facture.dateCreation, searchForm.facture.dateCreationMinimum, searchForm.facture.dateCreationMaximum) }}
                            {{ macros.input_date_switch(searchForm.facture.datePayement, searchForm.facture.datePayementMinimum, searchForm.facture.datePayementMaximum) }}

                            {{ form_row(searchForm.facture.nombreRappel) }}

                        </div>
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui form segment">
                        <div class="field">

                            <h4 class="ui dividing header">Propriétaire</h4>

                            {{ form_row(searchForm.owner.membreNom, { 'attr': {'placeholder': "Nom du membre"}}) }}

                            {{ form_row(searchForm.owner.membrePrenom, { 'attr': {'placeholder': "Prenom du membre"}}) }}

                            <div class="ui horizontal divider">
                                OU
                            </div>

                            {{ form_row(searchForm.owner.familleNom, { 'attr': {'placeholder': "Nom de famille"}}) }}

                        </div>
                    </div>

                    <div class="ui form segment">
                        <div class="field">
                            <h4 class="ui dividing header">Méthode de recherche</h4>

                            {{ form_widget(searchForm.searchMethode)}}
                        </div>
                    </div>

                </div>
                </div>
            </div>









    {{ form_rest(searchForm) }}
    {{ form_end(searchForm) }}

</div>

    <div class="actions">


    <div class="ui button blue" onclick="sendSearch();">Valider</div>

</div>
</div>



