{% form_theme searchForm 'InterneFinancesBundle:Templates:form_template.html.twig' %}

{% import 'InterneFinancesBundle:Templates:form_macro.html.twig' as macros %}



    <div class="header">
        Effectuer une recherche
    </div>

    <div class="content">
        {{ form_start(searchForm, {'attr': {'id': 'searchForm'}}) }}



        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <div class="ui form">


                        <div class="field">
                            <h4 class="ui dividing header">Méthode de recherche</h4>

                            {{ form_widget(searchForm.searchMethode)}}
                        </div>

                        <div class="ui styled accordion">

                            <div class="title active">
                                <i class="dropdown icon"></i>
                                Créances
                            </div>
                            <div class="content active">
                                <div class="field">
                                    {{ form_row(searchForm.creance.isLinkedToFacture, { 'attr': {'onchange': "switchFactureForm(this);"}}) }}

                                    {{ form_row(searchForm.creance.titre) }}

                                    {{ macros.input_number_switch(searchForm.creance.montantEmis, searchForm.creance.montantEmisMinimum, searchForm.creance.montantEmisMaximum) }}

                                    {{ macros.input_number_switch(searchForm.creance.montantRecu, searchForm.creance.montantRecuMinimum, searchForm.creance.montantRecuMaximum) }}

                                    {{ macros.input_date_switch(searchForm.creance.dateCreation, searchForm.creance.dateCreationMinimum, searchForm.creance.dateCreationMaximum) }}

                                    {{ macros.input_date_switch(searchForm.creance.datePayement, searchForm.creance.datePayementMinimum, searchForm.creance.datePayementMaximum) }}


                                    {{ form_row(searchForm.creance.remarque) }}
                                </div>
                            </div>

                            <div class="title">
                                <i class="dropdown icon"></i>
                                Facture
                            </div>
                            <div class="content">
                                <div class="field" >

                                    <div class="ui message blue" id="searchFactureForm" >
                                        Les critères de recherche sur les factures n'ont pas d'effet
                                        si la recherche des créances porte sur les créances "en attente de facturation".
                                    </div>

                                    {{ form_row(searchForm.facture.id) }}
                                    {{ form_row(searchForm.facture.statut) }}

                                    {{ macros.input_number_switch(searchForm.facture.montantEmis, searchForm.facture.montantEmisMinimum, searchForm.facture.montantEmisMaximum) }}

                                    {{ macros.input_number_switch(searchForm.facture.montantRecu, searchForm.facture.montantRecuMinimum, searchForm.facture.montantRecuMaximum) }}

                                    {{ macros.input_date_switch(searchForm.facture.dateCreation, searchForm.facture.dateCreationMinimum, searchForm.facture.dateCreationMaximum) }}
                                    {{ macros.input_date_switch(searchForm.facture.datePayement, searchForm.facture.datePayementMinimum, searchForm.facture.datePayementMaximum) }}

                                    {{ form_row(searchForm.facture.nombreRappel) }}

                                </div>
                            </div>

                            <div class="title">
                                <i class="dropdown icon"></i>
                                Propriétaire
                            </div>
                            <div class="content">
                                <div class="field">

                                    {{ form_row(searchForm.owner.membreNom, { 'attr': {'placeholder': "Nom du membre"}}) }}

                                    {{ form_row(searchForm.owner.membrePrenom, { 'attr': {'placeholder': "Prenom du membre"}}) }}

                                    <div class="ui horizontal divider">
                                        OU
                                    </div>

                                    {{ form_row(searchForm.owner.familleNom, { 'attr': {'placeholder': "Nom de famille"}}) }}

                                </div>
                            </div>

                        </div>




                    </div>
                </div>
            </div>


        </div>





        {{ form_rest(searchForm) }}
        {{ form_end(searchForm) }}

    </div>

    <div class="actions">


        <div class="ui button blue" onclick="sendSearch();">Valider</div>

    </div>



