{% extends 'AppBundle:Membre/AddForm:addFormLayout.html.twig' %}

{% block title %}
    Informations sur le membre et sa famille
{% endblock %}

{% block form %}

    {{ form_start(form,{'attr': {'class': 'ui form'}}) }}

    <h4 class="ui dividing header">Information sur le membre</h4>

    <div class="fields">
        {{ form_row(form.prenom) }}
        {{ form_row(form.naissance) }}
        {{ form_row(form.statut) }}
        {{ form_row(form.inscription) }}

    </div>

    <h4 class="ui dividing header">Information sur la famille</h4>

    {{ form_row(form.famille) }}

    {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}

{% block next_step %}Engregistrer{% endblock %}
