
{#
    POPUP membre
    Affiche une popup d'informations concernant un membre
    Paramètres passés par le with
    @required membre : l'objet membre
    @optional blocks : array, choisir les blocks a afficher. Par défaut tous, parmi 'contact', 'personal', 'family' et 'scout'
#}

{% if blocks is not defined %}
    {% set blocks = ['contact', 'personal', 'famille', 'scout'] %}
{% endif %}

{% if blocks|length == 1 %}
    {% set width = 'one' %}
{% elseif blocks|length == 2 %}
    {% set width = 'two' %}
{% elseif blocks|length == 3 %}
    {% set width = 'three' %}
{% elseif blocks|length == 4 %}
    {% set width = 'four' %}
{% endif %}

<div class="ui flowing popup">
    <div class="ui {{ width }} column divided equal height grid">

        {% if 'personal' in blocks %}

            <div class="column">
                <h4 class="ui header">{{ membre.prenom|capitalize }} {{ membre.nom|capitalize }}</h4>
                <p>Né le <b>{{ membre.naissance|date('d.m.Y') }}</b></p>
                <p>{{ membre.remarques }}</p>
            </div>

        {% endif %}

        {% if 'contact' in blocks %}
        <div class="column">
            {% if membre.contact is not null %}
                <div class="ui list">
                    {% include 'AppBundle:Partials:partial_contact.html.twig' with {'contact' : membre.contact} %}
                </div>
            {% else %}
            <p>Aucune informations</p>
            {% endif %}
        </div>
        {% endif %}

        {% if 'famille' in blocks %}
            <div class="column">
                <h4 class="ui header">Famille {{ membre.famille.nom|capitalize }}</h4>
                <p>
                    <b>Parents : </b>
                    {% if membre.famille.pere is not null %}
                        {{ membre.famille.pere.prenom|capitalize }}
                        {% if membre.famille.mere is not null %}, {% endif %}
                    {% endif %}
                    {% if membre.famille.mere is not null %}
                        {{ membre.famille.mere.prenom|capitalize }}
                    {% endif %}
                </p>
            </div>
        {% endif %}

        {% if 'scout' in blocks %}
        <div class="column">
            <h4 class="ui header">{{ membre.activeAttribution.fonction.nom }} - {{ membre.activeAttribution.groupe.nom }}</h4>
            <p><b>Inscrit depuis le</b> {{ membre.inscription|date('d.m.Y') }}</p>
            <p><b>Numéro BS : </b>{{ membre.numeroBs }}</p>
        </div>
        {% endif %}
    </div>
</div>