{% extends 'AppBundle:Templates:modal_small.html.twig' %}

{% block header %}
    Détail de la créance
{% endblock %}

{% block content %}
    <table class="ui definition table">
        <tbody>
        <tr>
            <td>Titre</td>
            <td>{{ creance.titre }}</td>
        </tr>
        <tr>
            <td>Remarque</td>
            <td>{{ creance.remarque }}</td>
        </tr>
        <tr>
            <td>Facture</td>
            <td>
                {{ creance.facture|ref|raw }}
                {% if creance.isFactured %}
                    {{ modal_caller('<i class="zoom blue icon"></i>',path('app_facture_show',{'facture':creance.facture.id})) }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Etat</td>
            <td>
                {{ creance|creance_state_detail|raw }}
            </td>
        </tr>

        <tr>
            <td>Date de création</td>
            <td>{{ creance.dateCreation|date(global_date_format) }}</td>
        </tr>



        {% if creance.isPayed %}
            <tr>
                <td>Date de payement</td>
                <td>
                    {{ creance.datePayement|date(global_date_format) }}
                </td>
            </tr>
        {% endif %}

        <tr>
            <td>Montant émis</td>
            <td>{{ creance.montantEmis|money }}</td>
        </tr>
        <tr>
            <td>Montant reçu</td>
            <td>{{ creance.montantRecu|money }}</td>
        </tr>
        <tr>
            <td>Propriétaire</td>
            <td>
                {{ creance.debiteur.owner.__toString }}
            </td>
        </tr>
        <tr>
            <td>Cible de facturation</td>
            <td>
                TODO
            </td>
        </tr>


        </tbody>
    </table>
{% endblock %}

