{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block titre %}Accueil{% endblock %}

{% block content %}

    <div class="ui page grid">

        <div class="row">
            <div class="five wide column">
                <div class="ui segment">
                    Mon unité

                </div>
            </div>

            <div class="five wide column">
                <div class="ui segment">
                    <h3><i class="user icon"></i>
                        {{ app.security.token.user.membre.prenom|capitalize }}
                        {{ app.security.token.user.membre.nom|capitalize }}
                    </h3>

                    <a href="{{ path('interne_voir_membre', {'membre' : app.security.token.user.membre.id }) }}">Voir ma fiche personnel</a>



                </div>
            </div>

            <div class="five wide column">
                <div class="ui segment">
                    {% set groupes = app.security.token.user.membre.getActiveGroupes %}
                    {% if groupes is not empty%}
                        {% if groupes|length > 1 %}
                            <h3><i class="users icon"></i>Mes groupes</h3>
                        {% else %}
                            <h3><i class="users icon"></i>Mon groupe</h3>
                        {% endif %}


                        {%  for groupe in groupes %}
                            <a class="item" href="{{ path('interne_voir_groupe', {'groupe' : groupe.id }) }}">{{ groupe.nom }}</a>
                        {% endfor %}
                    {% else %}
                        Vous n'êtes dans aucun groupe actuellement.

                    {% endif %}

                </div>
            </div>
        </div>

        <div class="row">
            <div class="five wide column">
                <div class="ui piled segment">
                    <h4 class="ui header">Dernières News</h4>
                    {% if lastNews is not empty %}

                    {% set news = lastNews[0] %}
                    <b>{{ news.subject|capitalize }}</b><br>

                    {{ news.content|length > 100 ? news.content|slice(0, 100) ~ '...' : news.content  }} <br>


                        <br>



                    <a class="item" href="{{ path('interne_organisation_news_show') }}">Voir les toutes News</a>
                    {% endif %}
                </div>
            </div>

            <div class="five wide column">
                <div class="ui segment">
                    Ma fiche personnel

                </div>
            </div>

            <div class="five wide column">
                <div class="ui segment">
                    Mon unité

                </div>
            </div>
        </div>

    </div>



{% endblock %}