{% extends 'layout.html.twig' %}

{% block titre %}
    {{ famille.nom|capitalize }}
{% endblock %}

{% form_theme familleForm 'Templates/Form/ajax_edit.html.twig' %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">

                    <div class="ui right floated basic segment">
                        <br/>

                        {% if famille.validity == 0 %}
                            <a class="circular ui mini icon red button popupable" data-content="Données non vérifiées"><i class="warning icon"></i></a>
                        {% elseif famille.validity == 1 %}
                            <a class="circular ui mini icon yellow button popupable" data-content="Certaines données sont non vérifiées"><i class="warning icon"></i></a>
                        {% elseif famille.validity == 2 %}
                            <a class="circular ui mini icon green button popupable" data-content="Données vérifiées"><i class="checkmark icon"></i></a>
                        {% endif %}

                        <div class="ui circular icon top left pointing dropdown mini blue button">
                            <i class="wrench icon"></i>
                            <div class="menu">
                                <div class="header">Exporter cette fiche</div>
                                <div class="item"><i class="file pdf outline icon"></i> Exporter en PDF</div>
                                <div class="item"><i class="file excel outline icon"></i> Exporter en Excel</div>
                            </div>
                        </div>
                    </div>

                    <h1>Les {{ famille.nom|capitalize }}</h1>

                    <div class="ui vertical segment">

                        <div id="famille-infos-context" class="tab-context">
                            <div class="ui top attached tabular menu">
                                <div class="active item" data-tab="infos-base">{{ famille.nom|capitalize }}</div>
                                <div class="item" data-tab="infos-mere">Mère</div>
                                <div class="item" data-tab="infos-pere">Père</div>
                                <div class="item" data-tab="finances-creances-factures">Créances et factures</div>

                            </div>
                            <div class="ui bottom attached active tab segment" data-tab="infos-base">

                                <div class="ui grid">

                                    <div class="eight wide column">
                                        <h4>Adresse de la famille</h4>

                                        <table class="ui definition table">
                                            <tbody>
                                            {{ form_row(familleForm.adresse) }}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <h4>Membres aux scouts</h4>

                                <table class="ui table">
                                    <thead>
                                        <tr>
                                            <th>Prénom</th>
                                            <th>Unité</th>
                                            <th>Date de naissance</th>
                                            <th>Numéro BS</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for membre in famille.membres %}
                                            <tr>
                                                <td><a href="{{ path('interne_voir_membre', {membre:membre.id}) }}">{{ membre.prenom|capitalize }}</a></td>
                                                <td>{{ membre.activeAttribution.fonction.nom }} - {{ membre.activeAttribution.groupe.nom }}</td>
                                                <td>{{ membre.naissance|date('d.m.Y') }}</td>
                                                <td>{{ membre.numeroBs }}</td>
                                                <td>
                                                    <a href="{{ path('interne_voir_membre', {membre:membre.id}) }}" class="circular ui mini blue icon button">
                                                        <i class="share icon"></i>
                                                    </a>

                                                    <a class="ui circular icon top left pointing dropdown mini green button">
                                                        <i class="list icon"></i>
                                                        <div class="menu">
                                                            <div class="header">Ajouter à une liste</div>
                                                            {% for liste in listing.listes %}
                                                                <div onclick="listing.addElements('{{ liste.token }}', {{ membre.id }});" class="item">{{ liste.name }}</div>
                                                            {% endfor %}
                                                        </div>
                                                    </a>

                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                            <div class="ui bottom attached tab segment" data-tab="infos-mere">

                                <h3>Mère</h3>

                                <div class="ui grid">
                                    <div class="eight wide column">
                                        <table class="ui definition table">
                                            <tbody>
                                            {{ form_row(familleForm.mere.adresse) }}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="eight wide column">
                                        <table class="ui definition table">
                                            <tbody>
                                            {{ form_row(familleForm.mere) }}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>


                            <div class="ui bottom attached tab segment" data-tab="infos-pere">

                                <h3>Père</h3>

                                <div class="ui grid">
                                    <div class="eight wide column">
                                        <table class="ui definition table">
                                            <tbody>
                                            {{ form_row(familleForm.pere.adresse) }}

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="eight wide column">
                                        <table class="ui definition table">
                                            <tbody>
                                            {{ form_row(familleForm.pere) }}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="ui bottom attached tab segment" data-tab="finances-creances-factures">
                                {# Insertion de la partie facture et créance pour le membre #}
                                {% include "InterneFinancesBundle:Interface:interfaceForFamilleOrMembre.html.twig" with {'ownerEntity': famille } %}
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="popup-container"></div>


{% endblock %}

{% block js %}

    {% javascripts '@AppBundle/Resources/public/js/editable.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@AppBundle/Resources/public/js/specials/validation_popup_generation.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script type="text/javascript">
        $('#famille-infos-context .menu .item').tab({
            context: $('#famille-infos-context')
        });


        //Appel de l'editable
        $('.editable').click(function() {

            editable.init($(this));
        });
    </script>
{% endblock %}