{% extends "layout.html.twig" %}


{% block titre %}Validation des payements{% endblock %}

{% block content %}

<div class="ui page grid">
    <div class="row">
        <div class="column">
            <div class="ui segment">

                <div class="ui grid">
                    <div class="row">
                        <div class="column">
                            <table class="ui table" id="validationTable">
                        <thead>
                        <tr>
                            <th colspan="3">Payement reçu</th>
                            <th colspan="2">Dans le systeme (BDD)</th>
                            <th colspan="2">Validation</th>
                        </tr>
                        <tr>
                            <th>Num. Réf.</th>
                            <th>Date de payement</th>
                            <th>Montant Reçu</th>
                            <th>Montant exigé</th>
                            <th>Statut</th>
                            <th>Etat</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in results %}
                            <tr id="line-{{ result.payement.id }}">
                            <td>{{ result.payement.idFacture }}</td>
                            <td>{{ result.payement.datePayement|date("d/m/Y") }}</td>
                            <td>{{ result.payement.montantRecu|number_format(2, '.', ',') }}</td>


                            {% if result.validationStatut == 'NotFound' %}
                                <td colspan="2">Facture inexistante</td>

                                <td>
                                    <i class="red warning circle icon"></i>
                                </td>
                                <td>
                                    <div class="ui button small"
                                         data-idPayement="{{ result.payement.id }}"
                                         data-state="not_found"
                                         onclick="validation(this)">
                                        Ignorer
                                    </div>
                                </td>
                            {% else %}
                                <td>{{ result.factureFound.montantEmis|number_format(2, '.', ',') }}</td>

                                {% if result.factureFound.statut == 'ouverte' %}
                                    <td>
                                        <div class="ui label blue">
                                            Ouverte
                                        </div>
                                    </td>
                                {% elseif result.factureFound.statut == 'payee' %}
                                    <td>
                                        <div class="ui label green">
                                            Payée
                                        </div>
                                    </td>
                                {% else %}
                                    <td>
                                    </td>
                                {% endif %}

                                {% if result.validationStatut == 'Found:Valid' %}

                                    <td>
                                        <i class="check circle icon green"></i>
                                    </td>
                                    <td>
                                        <div class="ui button small blue"
                                             data-idpayement="{{ result.payement.id }}"
                                             data-state="found_valid"
                                             onclick="validation(this)">
                                            Valider
                                        </div>
                                    </td>
                                {% elseif result.validationStatut == 'Found:Upper' %}

                                    <td>
                                        <i class="add circle icon green"></i>
                                    </td>
                                    <td>

                                        <div class="ui modal" id="modal-repartition-{{ result.payement.id }}">
                                            <div class="header">
                                                Répartition de la somme

                                            </div>
                                            <div class="content">

                                                <table class="ui table" id="repartitionMontantsTable">
                                                    <thead>
                                                    <tr>
                                                        <td rowspan="2">Créances</td>
                                                        <td colspan="2">Montants</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Emis</td>
                                                        <td>Reçu</td>
                                                    </tr>

                                                    </thead>
                                                    <tbody>
                                                    {% for creance in result.factureFound.creances %}
                                                        <tr>
                                                            <td>{{ creance.titre }}</td>
                                                            <td>{{ creance.montantEmis|number_format(2, '.', ',') }}</td>
                                                            <td><input onchange="modifySolde(this);"
                                                                       type="number"
                                                                       data-id="{{ creance.id }}"
                                                                       data-type="creance"
                                                                       value="0"> </td>
                                                        </tr>

                                                    {% endfor %}

                                                    {% for rappel in result.factureFound.rappels %}
                                                        <tr>
                                                            <td>Rappel N°{{ loop.index }}</td>
                                                            <td>{{ rappel.frais|number_format(2, '.', ',') }}</td>
                                                            <td><input onchange="modifySolde(this);"
                                                                       type="number"
                                                                       data-id="{{ rappel.id }}"
                                                                       data-type="rappel"
                                                                       value="0"> </td>
                                                        </tr>

                                                    {% endfor %}

                                                    <tr>
                                                        <td colspan="2">Montant à répartir</td>
                                                        <td class="montantRecu" data-montantrecu="{{ result.payement.montantRecu}}">
                                                            {{ result.payement.montantRecu|number_format(2, '.', ',') }}
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>

                                                <div class="ui button blue"
                                                     data-idpayement="{{ result.payement.id }}"
                                                     data-state="found_upper"
                                                     onclick="validation(this)">
                                                    Valider
                                                </div>




                                            </div>
                                        </div>
                                        <div class="ui button"
                                             onclick="openModalRepartition('modal-repartition-{{ result.payement.id }}');">
                                            Repartire la somme
                                        </div>


                                    </td>
                                {% elseif result.validationStatut == 'Found:Lower' %}
                                    <td>
                                        <i class="red minus circle icon"></i>
                                    </td>
                                    <td>
                                        <div class="ui modal" id="modal-repartition-{{ result.payement.id }}">
                                            <div class="header">
                                                Répartition de la somme

                                            </div>
                                            <div class="content">

                                                <table class="ui table" id="repartitionMontantsTable">
                                                    <thead>
                                                    <tr>
                                                        <td rowspan="2">Créances</td>
                                                        <td colspan="2">Montants</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Emis</td>
                                                        <td>Reçu</td>
                                                    </tr>

                                                    </thead>
                                                    <tbody>
                                                    {% for creance in result.factureFound.creances %}
                                                        <tr>
                                                            <td>{{ creance.titre }}</td>
                                                            <td>{{ creance.montantEmis|number_format(2, '.', ',') }}</td>
                                                            <td><input onchange="modifySolde(this);"
                                                                       type="number"
                                                                       data-id="{{ creance.id }}"
                                                                       data-type="creance"
                                                                       value="0"> </td>
                                                        </tr>

                                                    {% endfor %}

                                                    {% for rappel in result.factureFound.rappels %}
                                                        <tr>
                                                            <td>Rappel N°{{ loop.index }}</td>
                                                            <td>{{ rappel.frais|number_format(2, '.', ',') }}</td>
                                                            <td><input onchange="modifySolde(this);"
                                                                       type="number"
                                                                       data-id="{{ rappel.id }}"
                                                                       data-type="rappel"
                                                                       value="0"> </td>
                                                        </tr>

                                                    {% endfor %}

                                                    <tr>
                                                        <td colspan="2">Montant à répartir</td>
                                                        <td class="montantRecu" data-montantrecu="{{ result.payement.montantRecu}}">
                                                            {{ result.payement.montantRecu|number_format(2, '.', ',') }}
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>

                                                <div class="ui button"
                                                     data-idpayement="{{ result.payement.id }}"
                                                     data-state="found_lower_valid"
                                                     onclick="validation(this);">
                                                    Valider
                                                </div>

                                                <div class="ui button"
                                                     data-idpayement="{{ result.payement.id }}"
                                                     data-state="found_lower_new_creances"
                                                     onclick="validation(this);">
                                                    Valider et crée les cérances de complément
                                                </div>




                                            </div>
                                        </div>

                                        <div class="ui button"
                                             onclick="openModalRepartition('modal-repartition-{{ result.payement.id }}');">
                                            Repartire la somme
                                        </div>
                                    </td>
                                {% elseif result.validationStatut == 'Found:AlreadyPayed' %}

                                    <td>
                                        <i class="red warning circle icon"></i>
                                    </td>
                                    <td>

                                        <div class="ui button"
                                             data-idpayement="{{ result.payement.id }}"
                                             data-state="found_already_payed"
                                             onclick="validation(this)">
                                            Ignorer
                                        </div>

                                    </td>
                                {% else %}
                                    <td></td>
                                    <td></td>
                                {% endif %}


                            {% endif %}





                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>












{% endblock %}

{% block js %}

    {% javascripts  '@InterneFinancesBundle/Resources/public/js/validation.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}



