{% extends 'AppBundle:Templates:modal_small.html.twig' %}

{% if form.nom.vars.value == '' %}
    {%  set header = 'Ajouter un model' %}
    {%  set buttonText = 'Ajouter' %}
{% else %}
    {%  set header = 'Modifier le model' %}
    {%  set buttonText = 'Modifier' %}
{% endif %}

{% block header %}
    {{ header }}
{% endblock %}

{% block content %}

    {{ form_start(form,{'attr': {'class': 'ui form ajax'}}) }}

    {{ form_row(form.nom) }}

    {{ form_row(form.fonctionChef) }}

    {{ form_row(form.fonctions) }}

    {{ form_row(form.affichageEffectifs) }}

    {{ form_row(form.categories) }}

    {{ form_rest(form) }}


    <div class="ui field">
        <input type="submit" class="ui green button" value="{{ buttonText }}" />
    </div>

    {{ form_end(form) }}

{% endblock %}



