{% if form.nom.vars.value == '' %}
    {%  set header = 'Ajouter un model' %}
    {%  set buttonText = 'Ajouter' %}
{% else %}
    {%  set header = 'Modifier le model' %}
    {%  set buttonText = 'Modifier' %}
{% endif %}


<div id="form_model_modale" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        {{ header }}
    </div>

    <div class="content">

        {{ form_start(form,{'attr': {'class': 'ui form'}}) }}


        <div class="field">
            {{ form_widget(form.nom) }}
        </div>

        <div class="field">
            {{ form_widget(form.fonctionChef) }}
        </div>

        <div class="field">
            {{ form_widget(form.fonctions) }}
        </div>

        <div class="field">
            {{ form_widget(form.affichageEffectifs) }}
        </div>

        {{ form_widget(form.categories) }}




        {{ form_rest(form) }}


        <div class="ui field">
            <input type="submit" class="ui green button" value="{{ buttonText }}" />
        </div>

        {{ form_end(form) }}

    </div>
    <div class="actions">
        <div class="ui button">Annuler</div>
    </div>
</div>