<table class="ui celled structured table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Fonction Chefs</th>
        <th>Fonctions</th>
        <th>Categories</th>
        <th>Affichage des effectifs</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {% for model in models %}
        <tr>

            <td>{{ model.nom }}</td>
            <td>
                {%  if model.fonctionChef is not empty %}
                    {{ model.fonctionChef.nom }}
                {% else %}
                    Aucune fonction définie
                {% endif %}

            </td>
            <td>
                {%  if model.fonctions is not empty %}
                    {% for fonction in model.fonctions %}
                        {{ fonction.nom }}<br>

                    {% endfor %}

                {% else %}
                    Aucune fonction définie
                {% endif %}


            </td>
            <td>
                {%  if model.categories is not empty %}
                    {% for categorie in model.categories %}
                        {{ categorie.nom }}<br>

                    {% endfor %}

                {% else %}
                    Aucune catégorie définie
                {% endif %}


            </td>
            <td>
                {% if model.affichageEffectifs %}
                    <i class="checkmark green icon"></i>
                {% else %}
                    <i class="remove red icon"></i>
                {% endif %}
            </td>
            <td>
                <div class="ui mini icon button popupable editModel" data-id="{{ model.id }}" data-content="Modifier le model">
                    <i class="configure icon"></i>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>