{% form_theme form 'InterneFinancesBundle:Templates:form_template.html.twig' %}

{% set idForm  = 'addRappelForm' %}

<div class="header">Ajouter un rappel</div>
<div class="content" style="overflow-y:auto">

    {{ form_start(form, {'attr': {'id': idForm}}) }}

    <div class="ui form">

        {{ form_row(form.dateCreation) }}
        {{ form_row(form.montantEmis) }}
        {{ form_rest(form) }}

    </div>

    {{ form_end(form) }}

</div>
<div class="actions">

    <div class="ui button blue addRappelFromModal" data-id="{{ idFacture }}" data-form="{{ idForm }}">Ajouter</div>

</div>

