<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{% block titre %}{% endblock %}</title>
        <meta name="description" content="Outil de gestion de groupe scout développé par la Brigade de Sauvabelin">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="{{ asset('semantic/semantic.min.css') }}">
        <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/css/jquery-editable.css" rel="stylesheet"/>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>


        {% stylesheets
        '@AppBundle/Resources/public/css/Layout/*'
        '@AppBundle/Resources/public/css/Editable/*'
        '@AppBundle/Resources/public/css/bs.css'
        '@AppBundle/Resources/public/css/BugReport/feedback.min.css'
        output='css/layout.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block css %}{% endblock %}

        {# doit rester la pour que le bug report marche #}
        <script src="{{ asset('assetic/jquery.js') }}"></script>

        {# Bug report doit rester la car il faut pouvoir loader la modal de rapport meme si le reste de la page subit un bug...#
        {% javascripts
        '@AppBundle/Resources/public/js/BugReport/bug_report.js'
        '@AppBundle/Resources/public/js/BugReport/feedback.js'
        output="js/head.js"
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts
        '@AppBundle/Resources/public/js/BugReport/html2canvas.min.js'
        output="js/html2canvas.js"
        %}
        {# on a besoin de l'url pour initialiser correctement le script du feedback #
        {% set html2canevasUrl = asset_url %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        #}



        {% block headjs %}{% endblock %}

        {# script d'initialisation du feedback
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded',
                function () {
                    $.feedback({
                        ajaxURL: 'http://localhost:8888/FeedbackAPI/web/app_dev.php/api/feedbacks',
                        html2canvasURL: '{{ html2canevasUrl }}',
                        initButtonText: 'Nous faire part d\'un bug',
                        onClose: function() { window.location.reload(); }
                    });
                }, false);
        </script>
        #}


    </head>

    <body class="pusher">

        {{ render(controller('AppBundle:Layout:mainMenuGenerate')) }}

        {% include 'AppBundle:Layout:top_menu.html.twig' %}

        <div>
            <div id="alerts-bag"></div>
            <div id="main-container">
                {% block content %}{% endblock %}
            </div>
            <div id="server-data" data-client="{% if clientData is defined %}{{ clientData }}{% endif %}"></div>
        </div>

        {#
            LISTING
            =======

            On définit le container, car il nous permettra ensuite de modifier le menu
            de manière dynamique à chaque fois qu'on souhaite accéder au listing
        #}
        <div class="ui top sidebar ui secondary segment" id="listing-bar"></div>

        {#
            On définit ici le container à menu. On y stocke le menu de popup géneré dynamiquement pour pouvoir
            l'afficher n'importe où sur la page
        #}
        <div id="popup-menu-container"></div>

        {% include 'AppBundle:Listing:modal_add_listing.html.twig' %}

        <!-- on ajoute aussi un container qui contiendra les modales génerées dynamiquement -->
        <div id="dynamic-modal-container"></div>


        <script src="{{ asset('semantic/semantic.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>


        {% javascripts
            '@AppBundle/Resources/public/js/noty.js'
            '@AppBundle/Resources/public/js/noty_default.js'
            '@AppBundle/Resources/public/js/alwaysIncluded/*'
            '@AppBundle/Resources/public/js/layout.js'
            '@AppBundle/Resources/public/js/Contact/contact.js'
        output="js/main.js"
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}


        <script type="text/javascript">
            /*
             * Pour chaque flashbag contenu, sachant qu'ils ne contiennent que des alertes et des messages, on génère
             * une alerte correspondante
             */
            {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                alerte.send("{{ flash }}", "{{ label }}");
            {% endfor %}
            {% endfor %}
        </script>



        {% block js %}{% endblock %}

    </body>
</html>