<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{% block titre %}{% endblock %}</title>
        <meta name="description" content="Outil de gestion de groupe scout développé par la Brigade de Sauvabelin">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="{{ asset('semantic/semantic.min.css') }}">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>


        {% stylesheets
        '@AppBundle/Resources/public/css/Layout/*'
        '@AppBundle/Resources/public/css/Editable/*'

        output='css/layout.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block css %}{% endblock %}

        {% block headjs %}{% endblock %}
    </head>


    <body class="pushable">


        {{ render(controller('AppBundle:Layout:mainMenuGenerate')) }}


        {% include 'AppBundle:Layout:top_menu.html.twig' %}


        <div class="pusher">

            <div id="alerts-bag"></div>

            <div id="main-container">

                {% block content %}{% endblock %}


            </div>

            {# todo c'est quoi ce yolo!!#}
            <div id="server-data" data-yolo="{% if clientData is defined %}{{ clientData }}{% endif %}"></div>

        </div>


        <script src="{{ asset('assetic/jquery.js') }}"></script>
        <script src="{{ asset('semantic/semantic.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>


        {% javascripts
            '@AppBundle/Resources/public/js/alwaysIncluded/*'
            '@AppBundle/Resources/public/js/layout.js'

            output="js/main.js"
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            /*
             * Pour chaque flashbag contenu, sachant qu'ils ne contiennent que des alertes et des messages, on génère
             * une alerte correspondante
             */
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    alerte.send("{{ flash }}", "{{ label }}");
                {% endfor %}
            {% endfor %}
        </script>



        {% block js %}{% endblock %}

    </body>
</html>