<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block titre %}{% endblock %}</title>
        <meta name="description"
              content="Outil de gestion de groupe scout développé par les thugs de la Brigade de Sauvabelin">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">


        {% block css %}

            <link rel="stylesheet" href="{{ asset('assets/vendor/semantic/dist/semantic.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/vendor/x-editable/dist/jquery-editable/css/jquery-editable.css') }}"/>

            <link rel="stylesheet" href="{{ asset('bundles/app/css/Layout/layout.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/app/css/bs.css') }}"/>

            <link rel="stylesheet" href="{{ asset('assets/vendor/datatables.net-dt/css/jquery.dataTables.min.css') }}"/>



            {#<link rel="stylesheet" href="{{ asset('assets/vendor/semantic/dist/themes/basic/assets/fonts/icons.ttf') }}" />#}
            {#<link rel="stylesheet" href="{{ asset('assets/vendor/semantic/dist/themes/basic/assets/fonts/icons.woff') }}" />#}
            {#<link rel="stylesheet" href="{{ asset('assets/vendor/semantic/dist/themes/default/assets/fonts/icons.woff2') }}" />#}

        {% endblock %}

    </head>

    <body>

    {#
       {% cache 'twig.layout.main_menu' {time: 0} %}
       {{ render(controller('AppBundle:Layout:mainMenuGenerate')) }}
       {% endcache %}

       #}

    {{ render(controller('AppBundle:Layout:mainMenuGenerate')) }}

       {#
           LISTING
           On définit le container, car il nous permettra ensuite de modifier le menu
           de manière dynamique à chaque fois qu'on souhaite accéder au listing
       #}
        <div class="ui top sidebar ui secondary segment" id="listing-bar"></div>

        <div class="pusher">
            {% include 'AppBundle:Layout:top_menu.html.twig' %}

            <div id="main-container">
                {% block content %}{% endblock %}
            </div>
            <div id="server-data" data-client="{% if clientData is defined %}{{ clientData }}{% endif %}"></div>

        </div>





        {#
            On définit ici le container à menu. On y stocke le menu de popup géneré dynamiquement pour pouvoir
            l'afficher n'importe où sur la page

            todo CMR de NUR tu sais ce que c'est ce truc ?

             <div id="popup-menu-container"></div>
        #}
        {% include 'AppBundle:Listing:modal_add_listing.html.twig' %}


        {# javascript en fin de page #}
        {% block js %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

            <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
            <script src="{{ asset('assets/vendor/moment/locale/fr-ch.js') }}"></script>

            <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/semantic/dist/semantic.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/noty/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/x-editable/dist/jquery-editable/js/jquery-editable-poshytip.min.js') }}"></script>

            <script src="{{ asset('bundles/app/js/Layout/init.js') }}"></script>
            <script src="{{ asset('bundles/app/js/Layout/semantic.js') }}"></script>

            <script src="{{ asset('bundles/app/js/Layout/liste.js') }}"></script>
            <script src="{{ asset('bundles/app/js/Layout/listing.js') }}"></script>
            <script src="{{ asset('bundles/app/js/Layout/loader.js') }}"></script>
            <script src="{{ asset('bundles/app/js/Layout/alerte.js') }}"></script>
            <script src="{{ asset('bundles/app/js/Layout/events.js') }}"></script>
            <script src="{{ asset('bundles/app/js/Layout/modal.js') }}"></script>
            <script src="{{ asset('bundles/app/js/Layout/noty.js') }}"></script>
            <script src="{{ asset('bundles/app/js/Layout/popup-menu.js') }}"></script>
            <script src="{{ asset('bundles/app/js/Layout/xeditable.js') }}"></script>
            <script src="{{ asset('bundles/app/js/Layout/form_submit_ajax.js') }}"></script>


            <script type="text/javascript">
                {#
                 * Pour chaque flashbag contenu, sachant qu'ils ne contiennent
                 * que des alertes et des messages, on génère
                 * une alerte correspondante
                 #}
                $(function () {
                    {% for label, flashes in app.session.flashbag.all %}
                        {% if label != 'dump' %}
                            {% for flash in flashes %}
                            alerte.send("{{ flash }}", "{{ label }}");
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                });
            </script>



        {% endblock %}


    </body>
</html>