{% import _self as macro_menu %}


{% macro display_block(block_label, block) %}

    <div class="item popup-menu"  data-html='
            <div class="ui vertical menu">
                {% for item in menu.bloc(block) %}
                    <a class="item" href="{{ path(item.routeName) }}">{% if item.icon is not null %}<i class="ui {{ item.icon }} icon"></i>{% endif %}{{ item.label }}</a>
                {% endfor %}
            </div>
        '>
        <div class="header">{{ block_label }}</div>
        <div class="menu">
            {% for item in menu.bloc(block) %}
                {% if item.expanded %}
                <a class="item" href="{{ path(item.routeName) }}">{% if item.icon is not null %}<i class="ui {{ item.icon }} icon"></i>{% endif %}{{ item.label }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endmacro %}


<div id="main-menu" class="ui vertical inverted sidebar menu">
    <div class="item">
        <a class="ui logo icon image" href="{{ path('interne_homepage') }}">
            <img src="{{ parametreService.get('group_logo') }}" alt="Logo">
        </a>
        <a href="{{ path('interne_homepage') }}" ><b>{{ parametreService.get('app_name') }}</b></a>
    </div>



    {{ macro_menu.display_block('Base de donnée','database') }}

    {{ macro_menu.display_block('Strucuture','structure') }}

    <div class="item">
        <div class="header">Groupe{% if groups|length > 1 %}s{% endif %}</div>
        <div class="menu">
            {%  for group in groups %}
                <a class="item" href="{{ path('interne_voir_groupe', {'groupe' : group.id }) }}">{{ group.nom }}</a>
            {% endfor %}
        </div>
    </div>


    {{ macro_menu.display_block('Paramètres','parameter') }}

    {{ macro_menu.display_block('Sécurité','security') }}

    {{ macro_menu.display_block('Envois','envois') }}

    {{ macro_menu.display_block('Finances','finances') }}



    {#
    <div class="item">
        <div class="ui small active  inverted header">Intranet</div>
        <div class="menu">



            <a class="item" href="{{ path('interne_organisation_news_show') }}">
                News
            </a>

            <a class="item" href="{{ path('interne_organisation_agenda_show') }}">
                Agenda
            </a>

            <a class="item" href="{{ path('interne_organisation_default') }}">
                Téléchargement
            </a>

        </div>
    </div>
    #}





{#
    <div class="item">
        <div class="ui small  inverted header">Galerie</div>
        <div class="menu">
            <a class="item" href="{{ path('galerie_interne_global_managing') }}">Administration générale</a>
        </div>
    </div>
#}



    {#

    <div class="item">
        <div class="ui small  inverted header">Divers</div>
        <div class="menu">


            <a class="item" href="{{path('app_bundle_statistics')}}">Statistiques</a>

        </div>
    </div>

    #}
</div>