{% import _self as macro_menu %}



{% macro display_block(block_label, block) %}

    <div class="item popup-menu" data-html='
            <div class="ui vertical menu">
                {% for item in menu.getBloc(block) %}
                    <a class="item" href="{{ path(item.routeName) }}">{% if item.icon is not null %}<i class="ui {{ item.icon }} icon"></i>{% endif %}{{ item.label }}</a>
                {% endfor %}
            </div>
        '>
        <div class="header">{{ block_label }}</div>
        <div class="menu">
            {% for item in menu.getBloc(block) %}
                {% if item.expanded %}
                <a class="item" href="{{ path(item.routeName) }}">{% if item.icon is not null %}<i class="ui {{ item.icon }} icon"></i>{% endif %}{{ item.label }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endmacro %}

<div id="main-menu" class="ui vertical inverted sidebar menu">
    <div class="item">
        <a class="ui logo icon image" href="{{ path('app_app_home') }}">
            <img src="{{ parametreService.get('group_logo') }}" alt="Logo">
        </a>
        <a href="{{ path('app_app_home') }}" ><b>{{ parametreService.get('app_name') }}</b></a>
    </div>


    {{ macro_menu.display_block('Base de donnée','database') }}

    {% if is_granted('ROLE_STRUCTURE') %}
        {% cache 'twig.layout.main_menu_structure' {time: 0} %}
            {{ macro_menu.display_block('Strucuture','structure') }}
        {% endcache %}
    {% endif %}


    {% if groups is not empty %}

    <div class="item">
        <div class="header">Groupe{% if groups|length > 1 %}s{% endif %}</div>
        <div class="menu">
            {%  for group in groups %}
                <a class="item" href="{{ path('interne_voir_groupe', {'groupe' : group.id }) }}">{{ group.nom }}</a>
            {% endfor %}
        </div>
    </div>

    {% endif %}


    {{ macro_menu.display_block('Envois','envois') }}

    {% if is_granted('ROLE_PARAMETER') %}
        {% cache 'twig.layout.main_menu_parameter' {time: 0} %}
            {{ macro_menu.display_block('Paramètres','parameter') }}
        {% endcache %}
    {% endif %}


    {% if is_granted('ROLE_FINANCE') %}
        {% cache 'twig.layout.main_menu_finances' {time: 0} %}
            {{ macro_menu.display_block('Finances','finances') }}
        {% endcache %}
    {% endif %}

    {% if is_granted('ROLE_SECURITY') %}
        {% cache 'twig.layout.main_menu_security' {time: 0} %}
            {{ macro_menu.display_block('Sécurité','security') }}
        {% endcache %}
    {% endif %}




</div>
