{% import _self as macro_menu %}



{% macro display_block(block_label, block) %}

    <div class="item popup-menu" data-html='
            <div class="ui vertical menu">
                {% for item in menu.getBloc(block) %}
                    <a class="item" href="{{ path(item.routeName) }}">{% if item.icon is not null %}<i class="ui {{ item.icon }} icon"></i>{% endif %}{{ item.label }}</a>
                {% endfor %}
            </div>
        '>
        <div class="header">{{ block_label }}</div>
        <div class="menu">
            {% for item in menu.getBloc(block) %}
                {% if item.expanded %}
                <a class="item" href="{{ path(item.routeName) }}">{% if item.icon is not null %}<i class="ui {{ item.icon }} icon"></i>{% endif %}{{ item.label }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endmacro %}


{#
{% macro display_block(block_label, block) %}

    <div class="item">
        <div class="header">{{ block_label }}</div>
        <div class="menu">
            {% for item in menu.getBloc(block) %}
                {% if true %} {#item.expanded#
                    <a class="item" href="{{ path(item.routeName) }}">{% if item.icon is not null %}<i class="ui {{ item.icon }} icon"></i>{% endif %}{{ item.label }}</a>
                {% endif %}
            {% endfor %}

            <div class="ui dropdown item">
                <i class="dropdown icon"></i>
                Display Options
                <div class="menu">
                    <div class="header">Text Size</div>
                    <a class="item">Small</a>
                    <a class="item">Medium</a>
                    <a class="item">Large</a>
                </div>
            </div>

        </div>
    </div>

{% endmacro %}

#}

<div id="main-menu" class="ui vertical inverted sidebar menu">
    <div class="item">
        <a class="ui logo icon image" href="{{ path('app_app_home') }}">
            <img src="{{ parametreService.get('group_logo') }}" alt="Logo">
        </a>
        <a href="{{ path('app_app_home') }}" ><b>{{ parametreService.get('app_name') }}</b></a>
    </div>


    {{ macro_menu.display_block('Base de donnée','database') }}

    {{ macro_menu.display_block('Strucuture','structure') }}

    <div class="item">
        <div class="header">Groupe{% if groups|length > 1 %}s{% endif %}</div>
        <div class="menu">
            {%  for group in groups %}
                <a class="item" href="{{ path('interne_voir_groupe', {'groupe' : group.id }) }}">{{ group.nom }}</a>
            {% endfor %}
        </div>
    </div>


    {{ macro_menu.display_block('Paramètres','parameter') }}

    {{ macro_menu.display_block('Envois','envois') }}

    {{ macro_menu.display_block('Finances','finances') }}

    {{ macro_menu.display_block('Sécurité','security') }}


</div>
