<div id="top-menu" class="ui fixed inverted tiny menu">

        <div class="item" id="main-menu-button">
            <i class="content icon"></i>Menu
        </div>

        <div class="item">
            <div id="layout-search" class="ui input category search">

                <input id="layout-search-input" class="prompt" type="text" placeholder="Recherche...">

                <div class="results"></div>
            </div>
        </div>

        <div class="item">

            {% cache 'twig.layout.magic_top_menu' {time: 0} %}
            <div id="menu_search" class="ui input search"
                 data-entries="{{ menu.getAllBlocksToCategorySearch()|json_encode(constant('JSON_PRETTY_PRINT'))|e|raw }}">
                <input class="prompt" type="text" placeholder="Quick menu...">
                <div class="results"></div>
            </div>
            {% endcache %}
        </div>


        <div class="right menu">

            <a class="item" href="#" id="main-listing-button">Listes</a>

            <div class="ui dropdown item">
                {% if app.user != null %}
                    {% if app.user.hasMembre %}
                        {{ app.user.membre.prenom|capitalize }} {{ app.user.membre.nom|capitalize }}
                    {% else %}
                        {{ app.user.username }}
                    {% endif %}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="{{ path('app_account') }}"><i class="user icon"></i>Mon compte</a>
                        <a class="item" href="{{ path('app_security_logout') }}"><i class="delete icon"></i>Déconnexion</a>
                    </div>
                {% else %}
                    Non connecté
                {% endif %}
            </div>
        </div>

</div>