
{% macro breadcrumb(dossier) %}

{% if dossier is not null %}
{{ _self.breadcrumb(dossier.parent) }}

<a href="{{ path('public_galerie_voir_dossier', {dossier:dossier.id}) }}" class="section">{{ dossier.nom }}</a>
<i class="right chevron icon divider"></i>

{% endif %}

{% endmacro %}

{% import _self as macros %}


<div class="ui breadcrumb">
    <a href="{{ path('public_galerie_accueil') }}" class="section">Accueil</a>
    <i class="right chevron icon divider"></i>
    {{ macros.breadcrumb(dossier.parent) }}
    <a href="{{ path('public_galerie_voir_dossier', {dossier:dossier.id}) }}" class="active section">{{ dossier.nom }}</a>
</div>