{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block titre %}
    Famille {{ famille.nom|capitalize }}
{% endblock %}

{% macro contact(entity, form, id) %}

    {% set id = (id is null) ? entity.id : id %}
    <div class="ui pointing secondary tabular menu">
        <a class="active item" data-tab="adresse-{{ id }}">Adresse</a>
        <a class="item" data-tab="contact-{{ id }}">Téléphone et mail</a>
    </div>

    <div class="ui active tab basic segment" data-tab="adresse-{{ id }}">

        {% if entity.contact.adresse %}
        {{ form_row(form.contact.adresse.rue) }}
        {{ form_row(form.contact.adresse.npa) }}
        {{ form_row(form.contact.adresse.localite) }}
        {{ form_row(form.contact.adresse.expediable) }}
        {{ form_row(form.contact.adresse.remarques) }}
        {% endif %}
    </div>


    <div class="ui tab basic segment" data-tab="contact-{{ id }}">

        <h5 class="ui header">Téléphone(s) - <a href="#" class="button-add-telephone" data-contact-id="{{ entity.contact.id }}">ajouter</a></h5>
        {% include 'AppBundle:Contact:list_phone_mail.html.twig' with {'type' : 'telephone', 'data' : form.contact.telephones} %}

        <div class="ui divider"></div>
        <h5 class="ui header">E-mail(s) - <a href="#" class="button-add-email" data-contact-id="{{ entity.contact.id }}">ajouter</a></h5>
        {% include 'AppBundle:Contact:list_phone_mail.html.twig' with {'type' : 'email', 'data' : form.contact.emails} %}
    </div>

{% endmacro %}

{% import _self as macral %}


{% form_theme familleForm 'AppBundle:Form:xeditable_widgets.html.twig' %}

{% block content %}

    <div class="ui page grid">
        <div class="column">

            <div class="ui grid">

                <div class="row">

                    <div class="twelve wide column">
                        <h2 class="ui header">
                            <i class="users icon"></i>
                            <div class="content">
                                Famille {{ famille.nom|capitalize }}
                                <div class="sub header">{% if famille.contact.adresse %}{{ famille.contact.adresse.localite }}{% else %}-{% endif %}</div>
                            </div>
                        </h2>
                    </div>

                </div>

                <div class="row"> <!-- informations de base sur la famille -->

                    <div class="eight wide column">
                        <div class="ui attached message">
                            <div class="header"><h3><i class="info icon"></i>Informations</h3></div>
                        </div>

                        <div class="ui bottom attached segment">

                            {# Informations de base sur la famille #}
                            {{ form_row(familleForm.nom) }}

                            <h4 class="ui horizontal header divider">
                                <i class="exchange icon"></i>
                                Informations de contact
                            </h4>

                            {{ macral.contact(famille, familleForm, 'famille') }}

                        </div>
                    </div>


                    <div class="eight wide column">
                        <div class="ui attached message">
                            <div class="header"><h3><i class="user icon"></i>Parents</h3></div>
                        </div>

                        <div class="ui bottom attached segment">

                            {% set activeMere = (famille.pere is null) ? 'active' : '' %}
                            <div class="ui top attached tabular menu">
                                {% if famille.pere %}<a class="item active" data-tab="pere">Père</a>{% endif %}
                                {% if famille.mere %}<a class="item {{ activeMere }}" data-tab="mere">Mère</a>{% endif %}
                            </div>

                            {% if famille.pere %}

                                <div class="ui bottom attached active tab segment" data-tab="pere">


                                    {{ form_row(familleForm.pere.prenom) }}
                                    {{ form_row(familleForm.pere.profession) }}

                                    <h4 class="ui horizontal header divider">
                                        <i class="exchange icon"></i>
                                        Informations de contact
                                    </h4>

                                    {{ macral.contact(famille.pere, familleForm.pere, 'pere') }}


                                </div>
                            {% endif %}

                            {% if famille.mere %}
                                <div class="ui bottom attached {{ activeMere }} tab segment" data-tab="mere">

                                    {{ form_row(familleForm.mere.prenom) }}
                                    {{ form_row(familleForm.mere.profession) }}

                                    <h4 class="ui horizontal header divider">
                                        <i class="exchange icon"></i>
                                        Informations de contact
                                    </h4>

                                    {{ macral.contact(famille.mere, familleForm.mere, 'mere') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div> <!-- /informations de base -->


                <div class="row"> <!-- /informations du débiteur -->
                    <div class="column">
                        <div class="ui top attached message">
                            <div class="header"><h3><i class="money icon"></i>Créances et factures</h3></div>
                        </div>

                        <div class="ui bottom attached segment">

                            {{ render(controller('AppBundle:Debiteur:show', { 'debiteur': famille.debiteur.id })) }}

                        </div>

                    </div>
                </div>


                <div class="row"> <!-- Membres dans la famille -->


                    <div class="sixteen wide column">

                        <div class="ui attached message">
                            <div class="header"><h3><i class="info icon"></i>Membres dans la famille</h3></div>
                        </div>

                        <div class="ui bottom attached segment">

                            {{ list_caller.FamilleMembres(famille)|raw }}


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>





































































    {#
    <div class="ui page grid">

        <div class="column">

            <h1>{{ famille }}</h1>



            <h2>Membres aux scouts</h2>
            <div class="ui segment">
                <table class="ui table">
                    <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Unité</th>
                        <th>Date de naissance</th>
                        <th>Numéro BS</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for membre in famille.membres %}
                        <tr>
                            <td><a href="{{ path('interne_voir_membre', {membre:membre.id}) }}">{{ membre.prenom|capitalize }}</a></td>
                            <td>{{ membre.activeAttribution.fonction.nom }} - {{ membre.activeAttribution.groupe.nom }}</td>
                            <td>{{ membre.naissance|date('d.m.Y') }}</td>
                            <td>{{ membre.numeroBs }}</td>
                            <td>
                                <a href="{{ path('interne_voir_membre', {membre:membre.id}) }}" class="circular ui mini blue icon button">
                                    <i class="share icon"></i>
                                </a>

                                <a class="ui circular icon top left pointing dropdown mini green button">
                                    <i class="list icon"></i>
                                    <div class="menu">
                                        <div class="header">Ajouter à une liste</div>
                                        {% for liste in listing.listes %}
                                            <div onclick="listing.addElements('{{ liste.token }}', {{ membre.id }});" class="item">{{ liste.name }}</div>
                                        {% endfor %}
                                    </div>
                                </a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <h2>Les parents<a class="anchor" id="parents"></a></h2>
            <div class="ui segment">
                <div class="ui grid">



                        <div class="eight wide column">
                            <h3>Mère</h3>
                            {% include "AppBundle:Geniteur:show_with_form.html.twig" with {'geniteur':familleForm.mere} %}
                        </div>

                        <div class="eight wide column">
                            <h3>Père</h3>

                            {% include "AppBundle:Geniteur:show_with_form.html.twig" with {'geniteur':familleForm.pere} %}
                        </div>




                </div>

            </div>

            <h2>Contact<a class="anchor" id="contact"></a></h2>
            <div class="ui segment">

                {% include "AppBundle:Contact:voir_contact_famille.html.twig" with {'familleForm':familleForm, 'famille':famille, } %}

            </div>

            <h2>Factures et créances<a class="anchor" id="finances"></a></h2>
            <div class="ui segment">

                {# Insertion de la partie facture et créance pour le membre
                {% include "InterneFinancesBundle:Interface:interface.html.twig" with {'ownerEntity': famille } %}


            </div>



        </div>

    </div>
{#

    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">

                    <div class="ui right floated basic segment">
                        <br/>

                        {% if famille.validity == 0 %}
                            <a class="circular ui mini icon red button popupable" data-content="Données non vérifiées"><i class="warning icon"></i></a>
                        {% elseif famille.validity == 1 %}
                            <a class="circular ui mini icon yellow button popupable" data-content="Certaines données sont non vérifiées"><i class="warning icon"></i></a>
                        {% elseif famille.validity == 2 %}
                            <a class="circular ui mini icon green button popupable" data-content="Données vérifiées"><i class="checkmark icon"></i></a>
                        {% endif %}

                        <div class="ui circular icon top left pointing dropdown mini blue button">
                            <i class="wrench icon"></i>
                            <div class="menu">
                                <div class="header">Exporter cette fiche</div>
                                <div class="item"><i class="file pdf outline icon"></i> Exporter en PDF</div>
                                <div class="item"><i class="file excel outline icon"></i> Exporter en Excel</div>
                            </div>
                        </div>
                    </div>

                    <h1>Les {{ famille.nom|capitalize }}</h1>

                    <div class="ui vertical segment">

                        <div id="famille-infos-context" class="tab-context">
                            <div class="ui top attached tabular menu">
                                <div class="active item" data-tab="infos-base">{{ famille.nom|capitalize }}</div>
                                <div class="item" data-tab="infos-parents">Parents</div>
                                <div class="item" data-tab="finances-creances-factures">Créances et factures</div>

                            </div>
                            <div class="ui bottom attached active tab segment" data-tab="infos-base">

                                <div class="ui grid">

                                    <div class="eight wide column">

                                        <div class="ui segment">


                                        </div>
                                        <div class="ui segment">

                                        </div>



                                    </div>
                                </div>


                            </div>

                            <div class="ui bottom attached tab segment" data-tab="infos-parents">



                                <div class="ui grid">

                                    {#

                                        <div class="eight wide column">
                                            <h3>Mère</h3>
                                            {% include "AppBundle:Geniteur:show_with_form.html.twig" with {'geniteur':familleForm.mere} %}
                                        </div>

                                        <div class="eight wide column">
                                            <h3>Père</h3>
                                            {% include "AppBundle:Geniteur:show_with_form.html.twig" with {'geniteur':familleForm.pere} %}
                                            </div>
                                        </div>






                                </div>

                            </div>





                            <div class="ui bottom attached tab segment" data-tab="finances-creances-factures">
                                {# Insertion de la partie facture et créance pour le membre
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="popup-container"></div>

    #}


{% endblock %}

{% block js %}

    {% javascripts

        '@AppBundle/Resources/public/js/specials/validation_popup_generation.js'

        output="js/voir_famille.js"
    %}

    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}



{% endblock %}


{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/Membre/membre.css') }}"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/specials/validation_popup_generation.js') }}"></script>

    <script type="text/javascript">
        //Appel de l'editable
        $('.editable').click(function() {
            editable.init($(this));
        });
    </script>
{% endblock %}
