<div class="ui small modal" id="modal-display" aria-hidden="true">
    <div class="header">Détail de la créance</div>
    <div class="content" style="overflow-y:auto">
    <table class="ui definition table">
        <tbody>
            <tr>
                <td>Titre</td>
                <td>{{ creance.titre }}</td>
            </tr>
            <tr>
                <td>Remarque</td>
                <td>{{ creance.remarque }}</td>
            </tr>
            {% if creance.facture is not empty %}
            <tr>
                <td>Facture</td>
                <td>
                    N°{{ creance.facture.id }}

                    <a onclick="openFactureShow({{ creance.facture.id }});" >
                        <i class="zoom icon"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Statut</td>
                <td>

                        {% if creance.facture.statut == 'ouverte' %}
                            <div class="ui label blue">
                                Ouverte
                            </div>
                        {% elseif creance.facture.statut == 'payee' %}
                            <div class="ui label green">
                                Payée
                            </div>
                        {% endif %}


                </td>
            </tr>
            {% else %}
            <tr>
                <td>Statut</td>
                <td>
                    <div class="ui label orange">
                        En attente de facturation
                    </div>
                </td>
            </tr>

            {% endif %}
            <tr>
                <td>Date de création</td>
                <td>{{ creance.dateCreation|date("d/m/Y") }}</td>
            </tr>



            {% if creance.facture is not empty %}
            <tr>
                <td>Date de payement</td>
                <td>
                    {% if creance.facture.statut == 'payee' %}
                        {{ creance.datePayement|date("d/m/Y") }}
                    {% endif %}
                </td>
            </tr>
            {% endif %}

            <tr>
                <td>Montant émis</td>
                <td>{{ creance.montantEmis|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <td>Montant reçu</td>
                <td>{{ creance.montantRecu|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <td>Propriétaire</td>
                <td>
                    {% if 'Membre' == creance.getOwner|get_class %}
                        {{ creance.membre.prenom }} {{ creance.membre.nom }}
                    {% elseif 'Famille' == creance.getOwner|get_class %}
                        {{ creance.famille }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Cible de facturation</td>
                <td>
                    {% if 'Membre' == creance.getOwner|get_class %}

                        {% if creance.membre.envoiFacture == 'Membre' %}
                            {{ creance.membre.prenom }} {{ creance.membre.nom }}
                        {% elseif creance.membre.envoiFacture == 'Famille' %}
                            Famille {{ creance.membre.famille.nom }}
                        {% endif %}


                    {% elseif 'Famille' == creance.getOwner|get_class %}
                        {{ creance.famille }}
                    {% endif %}


                </td>
            </tr>


        </tbody>
    </table>



</div>
    <div class="actions"></div>
</div>