{% form_theme creanceForm 'InterneFinancesBundle:Templates:form_template.html.twig' %}

    <i class="close icon"></i>
    <div class="header">


        {% if fromPage == null %}
            <h4 class="modal-title" >Ajouter une créance en masse</h4>

        {% elseif fromPage == 'interfaceMembre' %}
            <h4 class="modal-title" >Ajouter une créance au membre</h4>

        {% elseif fromPage == 'interfaceFamille' %}
            <h4 class="modal-title" >Ajouter une créance à la famille</h4>

        {% endif %}


    </div>
    <div class="content" style="overflow-y:auto">



        {{ form_start(creanceForm, {'attr': {'id': 'addCreanceForm'}}) }}

        <div class="ui form">

            {{ form_row(creanceForm.titre) }}
            {{ form_row(creanceForm.remarque) }}
            {{ form_row(creanceForm.montantEmis) }}
            {{ form_rest(creanceForm) }}

        </div>


        {{ form_end(creanceForm) }}

    </div>
    <div class="actions">

        {% if fromPage == null %}


        {% elseif fromPage == 'interfaceMembre' %}
            <div class="ui button blue" onclick="addCreanceFromInterface('addCreanceForm')">Ajouter</div>

        {% elseif fromPage == 'interfaceFamille' %}
            <div class="ui button blue" onclick="addCreanceFromInterface('addCreanceForm')">Ajouter</div>

        {% elseif fromPage == 'listing' %}
            <div class="ui button blue" onclick="">Ajouter</div>

        {% endif %}




    </div>

</div>






