{% form_theme creanceForm 'InterneFinancesBundle:Templates:form_template.html.twig' %}

    <i class="close icon"></i>
    <div class="header">

            <h4 class="modal-title" >Ajouter une créance</h4>



    </div>
    <div class="content" style="overflow-y:auto">


        {% set idForm = 'addCreanceForm' %}

        {{ form_start(creanceForm, {'attr': {'id': idForm }}) }}

        <div class="ui form">

            {{ form_row(creanceForm.titre) }}
            {{ form_row(creanceForm.remarque) }}
            {{ form_row(creanceForm.montantEmis) }}
            {{ form_rest(creanceForm) }}

        </div>


        {{ form_end(creanceForm) }}

    </div>
    <div class="actions">

        <div class="ui button blue addCreanceFromModal"  data-form="{{ idForm }}">Ajouter</div>



    </div>

</div>






