{% extends 'AppBundle:Layout:layout.html.twig' %}
{% form_theme ajoutForm 'InterneFinancesBundle:Templates:form_template.html.twig' %}


{% block titre %}Ajouter des cérances{% endblock %}

{% block content %}
<div class="ui page grid">
    <div class="column">
        <div class="row">


            {{ form_start(ajoutForm, {'attr': {'class': 'ui form' }}) }}

            <div class="two fields">

                <div class="field">

                    <h3>{{ form_label(ajoutForm.creance) }}</h3>

                    {{ form_row(ajoutForm.creance.titre) }}
                    {{ form_row(ajoutForm.creance.remarque) }}
                    {{ form_row(ajoutForm.creance.montantEmis) }}

                    {{ form_row(ajoutForm.creance.idOwner) }}
                    {{ form_row(ajoutForm.creance.classOwner) }}
                </div>

                <div class="field">

                    <h3>Cible d'ajout</h3>

                    {{ form_rest(ajoutForm) }}

                </div>

            </div>


                <div class="ui field">
                    <input type="submit" class="ui green button" value="Ajouter en masse" />
                </div>

            {{ form_end(ajoutForm) }}





        </div>
    </div>
</div>
{% endblock %}