{% form_theme adresse  ':Templates/Form:ajax_edit_adresse.html.twig' %}


{{ form_row(adresse.rue)  }}
{{ form_row(adresse.npa)  }}
{{ form_row(adresse.localite)  }}

<div class="expediable">
    {{ form_row(adresse.expediable)  }}
</div>





{#

<div class="ui grid">
    <div class="column">

        <div class="row" style="min-height: 1.2em;">
            {{ form_row(adresse.rue)  }}

        </div>

        <div class="row" style="min-height: 1.2em;">

            {{ form_row(adresse.npa)  }}
        </div>

        <div class="row" style="min-height: 1.2em;">

             {{ form_row(adresse.localite)  }}
        </div>


        <div class="expediable">
            {{ form_row(adresse.expediable)  }}
        </div>

    </div>


</div>

#}
