<!-- on stocke les infos du propriétaire pour les récupérer récupérer -->
<input type="hidden" value="{{ ownerEntity.id }}" id="ownerEntity-id"/>

{% if ownerEntity.isClass('Membre') %}
    <input type="hidden" value="Membre" id="ownerEntity-type"/>
{% elseif ownerEntity.isClass('Famille') %}
    <input type="hidden" value="Famille" id="ownerEntity-type"/>
{% endif %}


<div class="ui grid" id="listeFactureContent">
    <div class="row">
        <div class="column">
        <h4>Factures</h4>




                <table class="ui table" id="listeFacturesTable">
                    <thead>
                    <tr>
                        <th rowspan="2">Num. Réf.</th>
                        <th rowspan="2">Statut</th>

                        <th colspan="4">Montants</th>
                        <th>Actions</th>

                    </tr>
                    <tr>
                        <th>Créances</th>
                        <th>Frais rappels</th>
                        <th>Total</th>
                        <th>Reçu</th>
                        <th></th>

                    </tr>
                    </thead>

                    <tbody>
                    {% if ownerEntity.factures is not empty %}
                        {% for facture in ownerEntity.factures %}
                            <tr>
                                <td>N°{{ facture.id }}</td>
                                {% if facture.statut == 'ouverte' %}
                                    <td><div class="ui blue label">Ouverte</div></td>
                                {% elseif facture.statut == 'payee' %}
                                    <td><div class="ui green label">Payée</div></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ facture.montantCreances|number_format(2, '.', ',') }}</td>
                                <td>{{ facture.fraisRappel|number_format(2, '.', ',') }}</td>
                                <td>{{ facture.montantTotal|number_format(2, '.', ',') }}</td>
                                <td>{{ facture.montantRecu|number_format(2, '.', ',') }}</td>
                                <td>


                                    <a onclick="deleteFacture(this);" data-id="{{ facture.id }}">
                                        <i class="trash icon red"></i>
                                    </a>

                                    <a onclick="printFacture(this);" data-id="{{ facture.id }}" target="_blank">
                                        <i class="print icon"></i>
                                    </a>

                                </td>

                            </tr>
                        {% endfor %}
                    {% else %}

                    {% endif %}
                    </tbody>
                </table>




        </div>
    </div>
</div>




<div class="ui grid" id="listeCreanceContent">
    <div class="row" >
        <div class="column">

            <div class="ui left floated basic segment">
                <h4>Créances</h4>
            </div>

                <div class="ui right floated basic segment">
                    <div class="ui button" onclick="openCreanceForm();">Ajouter une créance</div>
                    <div class="ui button" onclick="createFactureWithSelectedCreances('Membre');">Facturer les créances séléctionnées</div>

                </div>







                <table class="ui table" id="listeCreanceTable">

                    <thead>
                    <tr>
                        <th rowspan="2">
                            <input type="checkbox" onclick="selectAllCreances(this);">
                        </th>
                        <th colspan="2">Factures liée</th>
                        <th rowspan="2">Titre</th>
                        <th rowspan="2">Remarque</th>
                        <th colspan="2">Montants</th>
                        <th rowspan="2" >Actions</th>
                    </tr>
                    <tr>

                        <th>N° Réf.</th>
                        <th>Statut</th>
                        <th>Emis</th>
                        <th>Reçu</th>



                    </tr>
                    </thead>

                    <tbody>
                    {% if ownerEntity.creances is not empty %}

                        {# On commence par les creances non facturée #}
                        {% for creance in ownerEntity.creances|reverse  %}
                            {% if creance.facture is empty %}
                                <tr>
                                    <td>
                                        <input class="selectCreance" type="checkbox" value="{{ creance.id }}">
                                    </td>
                                    <td></td>
                                    <td><div class="ui orange label">En attente</div></td>
                                    <td>{{ creance.titre }}</td>
                                    <td>{{ creance.remarque }}</td>
                                    <td>{{ creance.montantEmis|number_format(2, '.', ',') }}</td>
                                    <td>{{ creance.montantRecu|number_format(2, '.', ',') }}</td>
                                    <td>

                                        <a onclick="deleteCreance(this);" data-id="{{ creance.id }}">
                                            <i class="trash icon red"></i>
                                        </a>



                                    </td>
                                </tr>
                            {% endif %}

                        {% endfor %}

                        {# Créance avec facture ouverte #}
                        {% for creance in ownerEntity.creances|reverse  %}
                            {% if creance.facture is not empty %}
                                {% if creance.facture.statut == 'ouverte' %}
                                    <tr>
                                        <td></td>
                                        <td>N°{{ creance.facture.id }}</td>
                                        <td><div class="ui blue label">Ouverte</div></td>
                                        <td>{{ creance.titre }}</td>
                                        <td>{{ creance.remarque }}</td>
                                        <td>{{ creance.montantEmis|number_format(2, '.', ',') }}</td>
                                        <td>{{ creance.montantRecu|number_format(2, '.', ',') }}</td>
                                        <td></td>

                                    </tr>
                                {% endif %}
                            {% endif %}

                        {% endfor %}

                        {# Créance avec facture payée #}
                        {% for creance in ownerEntity.creances|reverse  %}
                            {% if creance.facture is not empty %}
                                {% if creance.facture.statut == 'payee' %}
                                    <tr>
                                        <td></td>
                                        <td>N°{{ creance.facture.id }}</td>
                                        <td><div class="ui green label">Payée</div></td>
                                        <td>{{ creance.titre }}</td>
                                        <td>{{ creance.remarque }}</td>
                                        <td>{{ creance.montantEmis|number_format(2, '.', ',') }}</td>
                                        <td>{{ creance.montantRecu|number_format(2, '.', ',') }}</td>
                                        <td></td>

                                    </tr>
                                {% endif %}
                            {% endif %}

                        {% endfor %}

                    {% else %}

                    {% endif %}

                    </tbody>

                </table>







        </div>
    </div>
</div>


{# Insertion du fromulaire modal de créance #}
{{ render(controller('InterneFinancesBundle:Creance:creanceModalForm', { 'ownerEntity': ownerEntity })) }}



{% block javascript %}

    {% javascripts  '@InterneFinancesBundle/Resources/public/js/creance.js'
    '@InterneFinancesBundle/Resources/public/js/facture.js'%}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}






{% endblock %}



