{% if form.dateDebut.vars.value == '' %}
    {%  set header = 'Ajouter une attribution' %}
    {%  set buttonText = 'Ajouter' %}
{% else %}
    {%  set header = 'Modifier une attribution' %}
    {%  set buttonText = 'Modifier' %}
{% endif %}


<div id="modal-add-attribution" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        {{ header }}
    </div>

    <div class="content">

        {{ form_start(form,{'attr': {'class': 'ui form'}}) }}

        {{ form_rest(form) }}


        <div class="ui field">
            <input type="submit" class="ui green button" value="{{ buttonText }}" />
        </div>


        {{ form_end(form) }}

    </div>
    <div class="actions">
        <div class="ui button">Annuler</div>
    </div>
</div>