<table class="ui table sortable-table">
    <thead>
    <tr>
        <th data-sort="string">Fonction</th>
        <th data-sort="string">Unité</th>
        <th data-sort="int">Début</th>
        <th data-sort="int">Fin</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for attribution in attributions %}
        <tr>
            <td>{{ attribution.fonction.nom }}</td>
            <td><a href="{{ path('interne_voir_groupe', {groupe:attribution.groupe.id}) }}">{{ attribution.groupe.nom }}</a></td>
            <td>{{ attribution.dateDebut|date('d.m.Y') }}</td>
            <td>{{ attribution.dateFin|date('d.m.Y') }}</td>
            <td>
                <button href="#" class="circular ui mini icon red button" onclick="removeAttributionOrDistinction(this, {{ membre.id }}, 'Attribution', {{ attribution.id }});"><i class="remove icon"></i></button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>