{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block titre %}Gestion de la galerie{% endblock %}

{% macro recursiveTree(dossier) %}
    <li>
        <div>
            <a
                    href="#"
                    style="background:lightblue;
                    {% if dossier.groupe is not null %}background:lightgreen;{% endif %}
                    {% if dossier.locked %}background:indianred;{% endif %}
                    ">
                {{ dossier.nom }}
            </a>
            {% if dossier.albums|length != 0 %}
                <span>{{ dossier.albums|length }} albums</span>
            {% endif %}

            <div class="tree-menu">
                <span title="Ajouter un dossier" onclick='addDossier({{ dossier.id }}, "{{ dossier.nom }}");'><i class="large plus icon"></i></span>

                {% if dossier.locked != true %}<span title="Verouiller le dossier" onclick='lockDossier({{ dossier.id }}, true);'><i class="large lock icon"></i></span>
                {% else %}<span title="Déverouiller le dossier" onclick='lockDossier({{ dossier.id }}, false);'><i class="large unlock icon"></i></span>
                {% endif %}
                <span title="Paramètres"
                      onclick='viewParametres({{ dossier.id }}, "{{ dossier.nom }}", "{% if dossier.groupe %}{{ dossier.groupe.nom }}{% else %}Aucune unité précédemment liée{% endif %}");'
                ><i class="large edit icon"></i></span>
                <span onclick="toDossierPage({{ dossier.id }});" title="Paramètres avancés"><i class="large share icon"></i></span>
            </div>
        </div>


        {% if dossier.enfants|length %}
            <ul>
                {% for enfant in dossier.enfants %}
                    {{ _self.recursiveTree(enfant) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% block css %}
    {% stylesheets '@InterneGalerieBundle/Resources/public/css/tree.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}



    {% import _self as macros %}

    <div class="ui page grid">
        <div class="column">

            <h1>Administration de la galerie</h1>

            <div class="ui segment">

                <h3>Hierarchie</h3>

                <div id="tree-container">
                    <div id="da-tree" class="tree">
                        <ul>
                            {% for dossier in Hdossiers %}
                            {{ _self.recursiveTree(dossier) }}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <button onclick='addDossier(null, "/")' class="ui right floated tiny blue button">Ajouter un dossier racine</button>

                <br/><br/>
                <div class="ui divider"></div>

                <h3>Supprimer une image</h3>
                <div class="ui info message">
                    <div class="content">Le système va trouver l'image, et la supprimer automatiquement du disque dur. L'action est irreversible.</div>
                </div>
                <div class="ui action input">
                    <input type="text" placeholder="12_739457392_438.jpg" id="delete-picture-name" />
                    <div onclick="removePicture();" class="ui red button">Supprimer</div>
                </div>

            </div>

        </div>
    </div>


    <div class="ui small modal" id="add-dossier-modale">

        <i class="close icon"></i>
        <div class="header">
            Ajouter un dossier
        </div>
        <div class="content">

            <form class="ui form" action="{{ path('galerie_interne_ajouter_dossier') }}" method="post">

                <input type="hidden" name="add-dossier-parent-id" id="add-dossier-parent-id" />

                <div class="field">
                    <label>Emplacement</label>
                    <input type="text" disabled id="add-dossier-emplacement">
                </div>

                <div class="field">
                    {{ form_widget(dossierForm.nom) }}
                </div>

                <div id="add-dossier-groupe-field" class="field">
                    {{ form_widget(dossierForm.groupe) }}
                </div>

                {{ form_rest(dossierForm) }}

                <button class="ui green button">Ajouter</button>
            </form>

        </div>

        <div class="actions">
            <div class="ui button">Annuler</div>
        </div>
    </div>


    <div class="ui small modal" id="parametres-dossier-modale">

        <i class="close icon"></i>
        <div class="header">
            Paramètres
        </div>
        <div class="content">

            <form class="ui form" method="post" action="{{ path('interne_galerie_modify_dossier') }}">

                <input type="hidden" name="edit-dossier-id" id="edit-dossier-id" />


                <div class="field">
                    <label>Nouvel emplacement</label>
                    <div class="ui fluid search selection dropdown">
                        <input type="hidden" name="dossier-edit-emplacement">
                        <i class="dropdown icon"></i>
                        <div class="default text">Choisir un nouvel emplacement</div>
                        <div class="menu">
                            <div class="item" data-value="racine"><div class="ui blue empty circular label"></div>racine</div>
                            {% for dossier in dossiers %}
                                <div class="item" data-value="{{ dossier.id }}">
                                    {% if dossier.locked %}<div class="ui red empty circular label"></div>
                                    {% elseif dossier.groupe is not null %}<div class="ui green empty circular label"></div>
                                    {% else %}<div class="ui grey empty circular label"></div>{% endif %}
                                    {{ dossier.nom }}
                                    {% if dossier.groupe is not null %}<span class="description">Lié à "{{ dossier.groupe.nom }}" - {{ dossier.albums|length }} album(s)</span>{% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Nouveau nom</label>
                    <input type="text" name="dossier-edit-nom" id="dossier-edit-nom" />
                </div>

                <div class="field">
                    <label>Changer l'unité liée</label>
                    <div class="ui fluid search selection dropdown">
                        <input type="hidden" name="dossier-edit-linked-groupe">
                        <i class="dropdown icon"></i>
                        <div class="default text">Anciennement : <span id="old-linked-groupe"></span></div>
                        <div class="menu">
                            {% for groupe in groupes %}
                                <div class="item" data-value="{{ groupe.id }}">
                                    {{ groupe.nom }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <button class="ui green button">Valider les changements</button>

            </form>

        </div>

        <div class="actions">
            <div class="ui button">Fermer</div>
        </div>
    </div>

{% endblock %}

{% block js %}
<script type="text/javascript">

    var scx = null; scy = null;

    $(function() {

        var sliderMouseDown = false;

        $("#tree-container").mousedown(function() {
            sliderMouseDown = true;
            return false;
        });
        $('#tree-container').mousemove(function(e) {

            if (sliderMouseDown) {

                var parentOffset = $(this).offset();

                var cx = e.pageX - parentOffset.left;
                var cy = e.pageY - parentOffset.top;

                if(scx == null) {
                    scx = cx;
                    scy = cy;
                }

                var px = scx - cx,
                        py = scy - cy;

                var p = $('#da-tree').offset();

                $('#da-tree').offset({left: (p.left - px), top: (p.top - py)});

                scx = cx;
                scy = cy;

                return false;
            }
        });
        $('#tree-container').mouseup(function() {
            if (sliderMouseDown){
                scx = null; scy = null;
                sliderMouseDown = false;
                return false;
            }
        });
    });

    /**
     * Affiche la modale permettant d'ajouter un groupe racine
     */
    function addDossier(id, name) {

        $('#add-dossier-parent-id').val(id);
        $('#add-dossier-emplacement').val(name);
        showModal('#add-dossier-modale');
    }

    /**
     * Permet de vérouiller/déverouiller un dossier
     */
    function lockDossier(id, state) {

        var verif = false;
        if(state == false) verif = true;
        else {
            var c = confirm("Etes-vous sur de vouloir vérouiller ce dossier ? Il deviendra invisible dans la galerie et aucun album ne pourra y être ajouté.");
            verif = c;
        }


        if(verif) location.href = Routing.generate('galerie_interne_manage_lock_dossier', {lock:state, dossier:id});

    }

    function viewParametres(id, nom, groupeNom) {

        $('#edit-dossier-id').val(id);
        $('#old-linked-groupe').text(groupeNom);
        $('#dossier-edit-nom').val(nom);
        showModal('#parametres-dossier-modale');
    }

    function toDossierPage(id) {
        location.href = Routing.generate('interne_galerie_dossier_managing', {dossier: id});
    }

    function removePicture() {

        var pict = $('#delete-picture-name').val();

        if(pict != '') {

            $.ajax({
                url: Routing.generate('interne_galerie_remove_picture', {picture:pict}),
                type: 'GET',
                success:function() {

                    alerte.send("Image supprimée avec succès", 'info', 7000);
                },
                error:function() {

                    alerte.send("Erreur lors de la suppression, vérifiez que le code est correct", "error");
                }
            });
        }
    }

</script>
{% endblock %}